/* Desde */
	/* Aviso */
	#contenedor_alerta {
		width: 40ex;
		height: 20ex;
		position: absolute;
		left: 10ex;
		top: 35ex;
		background: rgba(100, 100, 100, 0.6) none repeat scroll 0% 0%;
		border: 5px solid #fff;
		border-radius: 5pt;
		font-size: 20pt;
		color: #f00;
	}

	#caja_alerta {
		margin: 3ex;
		background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;
		height: calc(100% - 6ex);
		border-radius: 5pt;
		text-decoration: underline;
		text-align: center;
	}

	#titulo_alerta {
		font-weight: bold;
		padding: 2ex;
	}

	#mensaje_alerta {
		padding: 2ex;
	}

/* Tooltip */
	img[data-tooltip] {
		display: inline-block;
		position: relative;
		text-decoration: none;
		color: #000;
	}

	img[data-tooltip]:after {
		content: attr(data-tooltip);
		position: absolute;
		bottom: 140%;
		left: 20%;
		background: #ffcb66;
		padding: 5px 15px;
		color: black;
		border-radius: 10px;
		white-space: nowrap;
		opacity: 0;
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;

	}

	img[data-tooltip]:before {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-top: 20px solid #ffcb66;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		-webkit-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
		opacity: 0;
		left: 30%;
		bottom: 90%;

	}

	img[data-tooltip]:hover:after {
		bottom: 110%;
	}

	img[data-tooltip]:hover:before {
		bottom: 80%;
	}

	img[data-tooltip]:hover:after,	img[data-tooltip]:hover:before {
		opacity: 1;
		z-index: 6;
	}

/* Plato del dia */
	#entresemana, #finde {
		margin: 10px;
		margin-right: 40px;
		background-color: #eeeeee;
		clear: both;
		padding: 10px;
		position: relative;
		height: 200px;
		font-size: 1.2em;
	}

	#finde p {
		line-height: 2ex;
		font-size: 1.2em;
		margin: 30px;
	}

	.pasarela {
		margin: 10px;
	}

	#comida b {
		font-weight: bold;
	}

	#semana, #proxima_semana {
		display: none;
	}



