/* Colores */
	$rojo: #FB8F50;

	$rojo_oscuro: #FB6750;

	$rojo_claro: #F5B38C;

	$azul: #50EDFB;

	$azul_claro: #D7FDFF;

	$azul_oscuro: #0398A5;

	$morado: #B749DE;

	$morado_claro: #F1CFFD;

	$morado_oscuro: #881DAE;

	$verde: #54E31D;

	$verde_claro: #9CE083;

	$verde_oscuro: #51C526;

	$error: #F60D0D;

	$error_claro: #F0C6C6;

	$error_oscuro: #A91515;

	$naranja_menu: #F4CC70;

/* Animaciones */
	@-webkit-keyframes ver_alergeno {
		25% { -webkit-transform: scale(1.5); z-index: 3;}
		50% { -webkit-transform: scale(2); z-index: 3;}
		75% { -webkit-transform: scale(2.5);  z-index: 3; }
		100% { -webkit-transform: scale(3.3);  z-index: 3; }
	}

	@keyframes ver_alergeno {
		25% { -webkit-transform: scale(1.5); transform: scale(1.5); z-index: 3;}
		50% { -webkit-transform: scale(2); transform: scale(2); z-index: 3;}
		75% { -webkit-transform: scale(2.5); transform: scale(2.5); z-index: 3; }
		100% { -webkit-transform: scale(3.3); transform: scale(3.3); z-index: 3; }
	}

	@keyframes esperar_ajax {

		100% { transform: rotate(720deg);	}

	}


* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}


body {
	overflow-x : hidden;
	width      : 100%;

	font-family: verdana, helvetica, sans-serif;
	font-size  : 14pt;

	background-color: #000000;
}


#menumovil {
	position: fixed;
	top: 45px;
	z-index: 5;

	/*width  : calc(100% - 12px);*/
	width  : 100%;
	color  : #FFFFFF;
	border: 6px double $verde_claro;
	background-color: $verde_oscuro;
	border-radius: 0 0 20px 20px;

	display: none;
	opacity: 0;

	ul {
		margin     : 1em;
		margin-left: 2em;
		font: 1.3em/1.4 sans-serif;
		text-align: right;
	}
}

#menuidiomas {
	position: fixed;
	top: 45px;
	z-index: 5;

	/*width : calc(100% - 12px);*/
	width : 100%;
	color: #FFFFFF;
	border: 6px double $morado_claro;
	background-color: $morado_oscuro;
	border-radius: 0 0 20px 20px;

	opacity: 0;
	display: none;

	ul {
		margin: 1em;
		margin-left: 2em;
		font: 1.3em/1.4 sans-serif;

		span {
			position: relative;
			top: -0.25ex;
			margin-left: 1em;
		}
	}
}

#contenedor {
	
	.superior {
		width    : 100%;
		height   : 45px;
		color    : #FFFFFF;
		font-size: 1.2em;
		background-color: #000000;


		position: fixed;
		top     : 0px;
		z-index : 2;
				
		li {
			padding: 10px;
			float  : right;
			
			a { color: #FFFFFF; }

			&.imagenes {
				float: left;
				padding: 0.25ex;

				img { 
					float: left; 
					width: 40px; 
					margin-left: 10px;

					&.bandera {
						position: relative;
						top: 8px;

					}

					&#multi { 
						height: 25px; 
						width: 50px;
						margin-left: 25px;
						cursor: pointer;
					}
				}
			}

			&.menu {
				cursor : pointer;
				border-radius: 5px;
				transition: .5s linear all;
				height: 100%;

				&:hover { background-color: $rojo_oscuro; }

				span { 
					float: right;
					margin-left: 10px;
				}
			}

		}		
		
		/*li:nth-of-type(3) { display: none; }*/
	}

	#lateral {
		position: fixed;
		z-index: 2;
		right: 0;
		left: 0;
		top: 45px;

		text-align: center;
		background-color: $verde_claro;
	
		ul {
			padding: .3ex;
			
			li {
				display: inline-block;
				padding: .2ex .4ex;
				font-size: 1.2em;
				border-radius: 5px;
				cursor: pointer;
			}
		}
	}

	header {
		background-color: #000000;
		height: 150px;
		padding-top: 46px;
	}

	section {
		width: 100%;	
		float:left;

		article {
			
			&.foto {	
				padding: 4ex 2ex 0;	


				> a > p {
					color: #FFFFFF;
					font-size: 2.5em;
					text-align: center;
					text-shadow: 3px 3px 5px #333;
				}

				.cartel_lateral {
					position: relative;
					overflow: hidden;
					border-radius: 10pt;
					margin: 1em 0 0 0;
					border: 2px solid #fff;

					/* height: 250px;  Anuncio Semana Santa */

					a {	color: #000088; }
			
					img { 
						/*width: 200%;*/
						margin-bottom: -10px;
						height: 550px;
						margin-left: -25%;
					}
			
					p {
						padding: 1ex;
						border-radius: 10pt;
						background: rgba(255,255,255,0.7);
		
						font: 1.1em/1.2 sans-serif;
						text-align: justify;
						hyphens: auto;

						position: absolute;
						top: 2ex;
						bottom: 2ex;
						left: 1ex;
						right: 1ex;
					}
				}
			}

			&.contenido { 
				padding: 2ex;
				position: relative;

				legend {
					margin: 10px;
					margin-left: 20px;
					font-size: 1.6em;
					text-decoration: underline;
				}

				> div {
					padding: 1ex;
					background-color: #fff;
					border: 5px solid #666;
					border-radius: 5pt;
					position: relative;
					margin-top: 1ex;
					margin-right: 1ex;
			
					&:after {
						content: '';
						display: block;
						clear: both;
					}
				}

				div.articulo_novedad { 
					border-color: #BFDC7A;	

					> a { float: right; }

					.novedad {
						border-radius: unset;
					  width: 85px;
					  height: 88px;
					  overflow: hidden;
					  position: absolute;
					  top: -6px;
					  right: -6px;
					}

					.cinta_verde {
						display: none;
					  font: bold 15px Sans-Serif;
					  color: #333;
					  text-align: center;
					  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;

					  -webkit-transform: rotate(45deg);
					  -moz-transform:    rotate(45deg);
					  -ms-transform:     rotate(45deg);
					  -o-transform:      rotate(45deg);

					  position: relative;
					  padding: 7px 0;
					  left: -5px;
					  top: 15px;

					  width: 120px;
					  color: #6a6340;
					  background-color: #BFDC7A;
					  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
					  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
					  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
					  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
					  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
					  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
					}
				}

				div.compartir {
					background-color: $verde_claro;
					padding: 1.6ex 0 1.2ex;
					border-radius: 0;
					border: unset;
					margin-right: 0;

					position: absolute;
					left: 0;
					right: 0;
					bottom: 0;

					div {
						width: 100%;
						text-align: center;
						padding: 1ex 0;

						iframe {
							transform: scale(1.5);
							
						}
					}
				}

			}
		}
	}

	.legal {
		clear: both;
		position: relative;
		text-align: center;
		top: 100%;
		background-color: #FFFFFF;

		padding: 1ex 0;
		border-top: 2px solid #ddd;
	
		img {
			background-color: #fff;
			border-radius: 14px;
			position: relative;
			top: 2px;
			width: 20px;
		}

		p { line-height: 1.3em; }
	}
}

	/* Ocultos desde la version movil */
#contenedor {
	#lateral, /* Se activa con JS */
	.foto,
	.ipad,
	.desktop { display: none; }
}

@media screen and (min-device-width: 350px) {
	
	#contenedor {

		#lateral ul li { margin: 0 .5ex; }

	}
}


@media screen and (min-device-width: 576px) {
	
	#contenedor {

		.movil { display: none; }

		.ipad { display: block; }

		header { height: 150px; }

		#lateral { 
			background-color: transparent; 

			ul {
				background-color: rgba(255, 255, 255, .5);
				border-radius: 0 15px 15px 0;
			}
		}

		section {

			article {
				float: left;

				&.foto { 
					display: block;
					width: 40%; 
				}

				&.contenido {
					padding: 0 3ex 2ex 2ex;
					width: 60%;

					legend {
						font-size: 1.7em;
						clear: both;
					}
				}

			}

			&.compartir { 
				background-color: #FFFFFF;

				div {	margin: 10px 4px;	}
			}
		}
	}
}


@media screen and (min-device-width: 768px) {
	
	#contenedor {

		section {

			article.foto .cartel_lateral p { font-size: 1.3em; }
		}
	}

}

@media screen and (min-device-width: 992px) {
	
	#contenedor {

		section {

			article {

				&.foto {
					width: 50%;

					> a > p { font-size: 3em; }

					.cartel_lateral p { 
						top: 2em;
						bottom: 2em;
						left: 2em;
						right: 2em;
						font: 1.4em/1.3 sans-serif; 
					}
				}

				&.contenido {
					width: 50%;

					div.compartir div {
						width: 50%;
						float: left;
					}

				}
			}
		}
	}
}

@media screen and (min-device-width: 1024px) {
	
	#contenedor {

		header { height: 240px; }

		.menu,
		.ipad { display: none; }

		/*.superior li:nth-of-type(3),*/
		.desktop { display: block; }


		section {

			article {

				&.foto {	
					width: 50%;			

					p {	font-size: 4em;	}
				}

				&.contenido {
					width: 50%;

				}
			}
		}
	}

}

@media screen and (min-device-width: 1200px) {
	
		#contenedor {

		section {

			article {
				
				&.foto {
					.cartel_lateral {
						
						img {	margin-left: 0;	}

						p { padding: 2ex; }
					}
				}

				
			}


		}
	}
}

@media screen and (min-device-width: 1400px) {

	#contenedor {

		section {

			article {

				/*&.foto .cartel_lateral p { padding: 3em 2em; }*/

			}
		}
	}
}

