body {
	background-color: #000000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 14pt;
	background: url("../media/cabeceras/telefonista.jpg") fixed center center;
	background-size: cover;
	overflow-x: hidden;
	width: 100%;
}

/*Menu Movil */
	#menumovil {
		position: fixed;
		top: 45px;

		background-color: #000;
		color: #fff;
		width: 100%;
		height: 14em;
		opacity: 0;
		z-index: 5;

		display: none;
	}

	#menuidiomas {
		position: fixed;
		top: 45px;

		background-color: #000;
		color: #fff;
		width: 100%;
		height: 12em;
		opacity: 0;
		z-index: 5;

		display: none;
	}

	#menuidiomas span {
		position: relative;
		top: -0.25ex;
		margin-left: 1em;
	}

	#menuidiomas ul, #menumovil ul {
		margin: 1em;
		margin-left: 2em;
		line-height: 3ex;
		font-size: 1.3em;
	}

/* Cabecera */
	header {
		font-size: 3em;
		color: #fff;
		text-shadow: #000 0px 0px 10px;

		position: absolute;
		top: 3ex;
		text-align: center;
		line-height: 2em;
		width: 100%;
	}

/* Leer */
	#leer {
		position: absolute;
		top: 60%;
		left: 100px;
		background-color: #000;

		color: #ff0;
		font-size: 2em;

		border: #ff0 solid 3px;
		border-radius: 10px;
		display: inline-block;
		padding: 10px;
	}

	#leer:hover {
		animation: colorearFondo 1s forwards;
	}

	@keyframes colorearFondo {
		from {
			background-color: #000;
			border: #ff0 solid 3px;
		}
		to {
			background-color: #6A0C7B;
			border: #6A0C7B 3px solid;
		}
	}

/* Aviso */
	#contenedor_alerta {
		width: 40ex;
		height: 20ex;
		position: absolute;
		left: 36ex;
		top: 30ex;
		background: rgba(100, 100, 100, 0.6) none repeat scroll 0% 0%;
		border: 5px solid #fff;
		border-radius: 5pt;
		font-size: 20pt;
		color: #f00;
	}

	#caja_alerta {
		margin: 3ex;
		background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;
		height: calc(100% - 6ex);
		border-radius: 5pt;
		text-decoration: underline;
		text-align: center;
	}

	#titulo_alerta {
		font-weight: bold;
		padding: 2ex;
	}

	#mensaje_alerta {
		padding: 2ex;
	}

/* contenedor */
	#contenedor {
		background-color: #fff;
		position: relative;
		padding: 20px;
		visibility: hidden;
		width: calc(100% - 40px);
	}

/* Superior */
	#superior {
		background-color: #000;
		color: #fff;
		font-size: 1.2em;
		height: 45px;
		/*width: inherit;*/
		
		z-index: 2;
	}

	#superior li {
		display: inline;
		padding: 10px;
		float: right;

	}

	#superior li a {
		color: #fff;
	}

	#superior li:first-child {
		float: left;
	}

	#superior #logo_superior {
		padding: 0.15ex;
		cursor: pointer;
	}

	#logo_superior span {
		position: relative;
		top: 9px;
	}

	#superior img {
		width: 40px;
	}

	#superior .movil, #superior .ipad {
		display: none;
	}

	#superior .desktop {
		display: block;
	}

	#superior span {
		float: left;
		margin-right: 10px;
	}

	.bandera {
		float: left;
		margin-left: 5px;
	}

	#multi {
		cursor: pointer;
	}

/* contenido */
	h1 {
		font-size: 3em;
		text-align: center;
		margin: 10px;
	}

	#contenedor p {
		margin: 1em;
		font-size: 1.2em;
		line-height: 2.7ex;
		padding: 1em;
		/*width: calc(45%);
		float: left;*/
	}

	#fotolateral {
		float: right;
		width: 50%;
		margin: 20px;
	}

	#fotolateral img {
		width: 100%;
	}

	#contenedor a {
		color: #008;
	}
	.movil, .ipad {
		display: none;
	}

	.desktop {
		display: inline;
	}

	#contenedor p #wasap {
		width: 20px;
		float: unset;
	}

/* formulario */
	form {
		clear: both;
		position: relative;
		border: 2px solid #FB6750;
		background-color: #FB8F50;
		padding: 15px;
		margin: 20px auto;
		width: 70%;
		display: block;
	}

	label {
		display: block;
		margin-top: 0.5ex;
		font-size: 0.9em;
	}

	.impar {
		margin-left: 150px;
	}

	input {
		margin-top: 1ex;
		border: unset;
		border-bottom: 1px solid #000;
		line-height: 1.2em;
		padding: 5px;
	
	}

	input:hover {
		background-color: #eee;
	}

	textarea {
		width: 90%;
		padding: 5px;
	}

	input[type="submit"] {
		margin-bottom: 10px;
		padding: 10px;
		border-radius: 10px;
		margin-left: 100px;
		display: inline;
	}	

	.error_form {
		display: none;
		background-color: #f88;
		color: #f00;
		padding: 5px;
		margin-left: 10px;
		border: 1px solid #f00;
	}

	#confirmacion {
		padding: 5px;
		margin-left: 10px;
	}

	#etiquetaTexto {
		font-size: 1.1em;
		margin-top: 1em;
		margin-bottom: 0.5em;
		display: inline-block;
	}

/* compartir */
	#compartir {
		display: none;
	}

	#compartir div {
		margin: 10px 5px;
		float: left;
		display: inline-block;
	}

/* RR SS */
	#rrss {
		font-size: 1.2em;
		float: left;
		margin-left: 2em;
		margin-bottom: 1em;
	}

	#rrss li {
		padding: 10px;
		float: left;
	}

	#rrss li:first-child {
		float: unset;
	}

	#rrss img {
		width: 50px;
		margin: 0 5px;
	}

	#rrss span {
		position: relative;
		top: 14px;
	}

	#rrss a span {
		position: relative;
		top: -18px;
	}

/* Legal */
	#legal {
		height: 55px;
		background-color: #000;
		color: #fff;
		position: relative;
		text-align: center;
		visibility: hidden;
	}

	#legal img {
		background-color: #fff;
		border-radius: 14px;
		position: relative;
		top: 9px;
	}

	#legal .ipad { display: none;	}

/* Smartphones (portrait) ----------- */
	@media screen and (max-width: 300px), screen and (max-device-width: 300px) {
		#logo_superior span {
			display: none;
		}
	}

	@media screen and (max-width: 650px), screen and (max-device-width: 650px) {
		header {				
			font-size: 2em;
		}

		#leer {
			font-size: 1.5em;
			left: 20px;
			top: 70%;
		}

		#leer .movil {
			display: inline;
		}

		#superior {
			position: fixed;
			top: 0px;
			width: 100%;
		}

		h1 { 
			font-size: 1.5em; 
			padding-top: 15%; 
			margin-bottom: 0px;
		}

		#contenedor_alerta {
			width: 34ex;
			height: 18ex;
			left: 0.5ex;
			top: 44ex;
			font-size: 14pt;
		}

		#contenedor {
			padding: 0px;
			top: 710px;
			width: 100%;
		}

		#contenedor p {
			font-size: 1em;
			line-height: 2.5ex;
			margin-bottom: 10px;
			padding: unset;
			float: unset;
			width: unset;
		}

		form {
			margin: 5px;
			width: unset;
		}

		input[type="submit"] {
			margin-left: 10px;
		}

		.error_form {
			padding: 2px;
			position: absolute;
			left: 85px;
			top: 380px;
			z-index: 2;	
		}

		#p {
			display: inline;
		}

		#compartir div {
			float: unset;
			margin-left: 50px;
		}

		#contenedor .desktop, #superior .desktop, .desktop, #rrss, aside { display: none; }

		#contenedor .movil, #superior .movil, .movil { display: block; }

		#legal {
			height: 30px;
		}

		#legal img { top: 2px; width: 20px; }
	}

/* Smartphones (landscape) ----------- */
	@media screen and (max-width: 650px) and (orientation: landscape), screen and (max-device-width: 650px) and (orientation: landscape) {
		h1 {
			padding-top: 10%;
		}

		#contenedor_alerta {
			left: 26ex;
			top: 16ex;
		}

		#compartir {
			position: relative;
			top: 10px;
			right: 10px;
			float: right;
		}
	}

/* iPads (portrait) ----------- */
	@media screen and (min-width : 651px)	and (max-width : 1024px), screen and (min-device-width : 651px)	and (max-device-width : 1024px) {
		header {
			font-size: 2.5em;
		}

		header span.ipad {
			display: inline;
		}

		#menumovil { 
			position: absolute;
		}

		h1 { font-size: 2em; }

		#contenedor_alerta {
			font-size: 18pt;
			left: 8ex;
			top: 54ex;
		}

		#superior .desktop, #legal .desktop, .desktop { display: none; }

		#superior .ipad, .ipad {	display: block;	}

		#logo_superior img { margin-right: 30px; }

		#fotolateral {
			margin: 10px;
			float: unset;
			position: relative;
			width: calc(100% - 20px);
		} 

		#fotolateral img {
			position: absolute; 
			width: 100%;
			margin-right: 0px;
			opacity: 0.3;
			z-index: 0;
		}

		#contenedor p { 
			z-index: 3; 
			position: relative; 
			padding: unset;
			float: unset;
			width: unset;
		}

		form { width: 80%; }

		form input[type="submit"] {	margin-left: 20px; }

		#legal .ipad { display: inline; }			
	}

/* iPads (landscape) ----------- */
	@media screen and (min-width : 651px)	and (max-width : 1024px)	and (orientation : landscape), screen and (min-device-width : 651px)	and (max-device-width : 1024px)	and (orientation : landscape) {

		#contenedor_alerta {
			top: 32ex;
			left: 32ex;
		}

		h1 { font-size: 3em; }
	}