html body {
  background: url("../media/cabeceras/tragona_entrada.jpg") fixed center center;
  background-size: cover; }

#contenedor section.contenido p {
  padding: 1ex 2ex;
  font-size: 1em;
  line-height: 1.2em;
  text-align: justify;
  word-break: break-word;
  hyphens: auto; }
#contenedor section.contenido .imagen_lateral {
  position: relative;
  overflow: hidden;
  border-radius: 10pt;
  float: right;
  width: 45%;
  margin: 10px 20px; }
#contenedor section.pasarelas article {
  padding: 1ex 0;
  margin: 0 auto;
  width: 100%;
  float: left; }
  #contenedor section.pasarelas article h2 {
    font: 1.1em/1.2 sans-serif;
    padding: 0 1ex 1ex;
    text-align: left;
    clear: both;
    border-bottom: 2px solid #000000;
    margin: 0 0 1em; }
  #contenedor section.pasarelas article > div {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    float: none; }
    #contenedor section.pasarelas article > div .camera_caption {
      font: 1.1em/1.4 sans-serif; }
      #contenedor section.pasarelas article > div .camera_caption > div {
        padding: 10px; }
  #contenedor section.pasarelas article:last-of-type .marco_bebida {
    overflow: hidden;
    position: relative; }
    #contenedor section.pasarelas article:last-of-type .marco_bebida > div {
      overflow: hidden;
      height: inherit;
      width: 25%;
      height: 100%;
      display: inline-block;
      background-position: 45% 60%;
      background-repeat: no-repeat; }
      #contenedor section.pasarelas article:last-of-type .marco_bebida > div:hover p {
        height: 1.4em; }
      #contenedor section.pasarelas article:last-of-type .marco_bebida > div p {
        font: 1.1em/1.4 sans-serif;
        position: absolute;
        bottom: 0em;
        left: 0;
        z-index: 10;
        background-color: #000000;
        color: #FFFFFF;
        width: 100%;
        height: 0;
        padding-left: .4em;
        transition: 1s linear all; }

/* Ocultos desde la version movil */
#contenedor .imagen_lateral {
  display: none; }

@media screen and (min-width: 576px) {
  #contenedor section.contenido > p {
    font-size: 1.2em;
    line-height: 1.2em; }
  #contenedor section.pasarelas article {
    /*width: 50%;*/ }
    #contenedor section.pasarelas article > div {
      width: 70%;
      /*height: 300px;*/ } }
@media screen and (min-width: 768px) {
  #contenedor section.contenido > p {
    font-size: 1.4em; }
  #contenedor section.contenido .imagen_lateral {
    font-size: 1.2em; }
  #contenedor section.pasarelas {
    padding: 1ex;
    width: calc( 100% - 2ex ); }
    #contenedor section.pasarelas article h2 {
      font: 1.4em/1.5 sans-serif; } }
@media screen and (min-width: 992px) {
  #contenedor section {
    			/*
    			&.pasarelas article { 
    
    
    				> div { 
    					width: 70%;
    				}
    			}*/ }
    #contenedor section.contenido .imagen_lateral {
      height: 400px; } }
@media screen and (min-width: 1024px) {
  #contenedor section.contenido .imagen_lateral p {
    padding: 1em;
    line-height: 1.5em; }
  #contenedor section.pasarelas article {
    width: 48%;
    /*
    float: left;*/
    			/*> div {
    				height: 200px !important;
    				width: 90%;
    
    			}*/ }
    #contenedor section.pasarelas article:last-of-type {
      float: right; }
    #contenedor section.pasarelas article h2 {
      font: 1.3em/1.3 sans-serif; }
    #contenedor section.pasarelas article:last-of-type .bebida {
      text-align: right; }
    #contenedor section.pasarelas article:last-of-type .marco_bebida > div:hover p {
      height: 2em; }
    #contenedor section.pasarelas article:last-of-type .marco_bebida > div p {
      font: 1.3em/2 sans-serif; } }
@media screen and (min-width: 1200px) {
  #contenedor {
    /*section.pasarelas article > div {	height: 250px !important; }*/ }
    #contenedor section.contenido .imagen_lateral {
      margin: 20px 2ex 20px 20px;
      height: unset; }
      #contenedor section.contenido .imagen_lateral p {
        padding: 1.5em 2em; } }
@media screen and (min-width: 1350px) {
  #contenedor {
    /*section.pasarelas article > div {	height: 300px !important; }*/ } }

/*# sourceMappingURL=index.css.map */
