body {
	background-color: #000000;
	font-family: verdana, helvetica, sans-serif;
	font-size: 14pt;
	background: url("../media/cabeceras/quienessomos.jpg") fixed center center;
	background-size: cover;
	width: 100%;
}

/*Menu Movil */
	#menumovil {
		position: fixed;
		top: 45px;

		background-color: #000;
		color: #fff;
		width: 100%;
		height: 14em;
		opacity: 0;
		z-index: 5;

		display: none;
	}

	#menuidiomas {
		position: fixed;
		top: 45px;

		background-color: #000;
		color: #fff;
		width: 100%;
		height: 12em;
		opacity: 0;
		z-index: 5;

		display: none;
	}

	#menuidiomas span {
		position: relative;
		top: -0.25ex;
		margin-left: 1em;
	}

	#menuidiomas ul, #menumovil ul {
		margin: 1em;
		margin-left: 2em;
		line-height: 3ex;
		font-size: 1.3em;
	}

/* Cabecera */	
	header {
		font-size: 3em;
		color: #fff;
		text-shadow: #000 0px 0px 10px;

		position: absolute;
		top: 3ex;
		text-align: center;
		line-height: 2em;
		width: 100%;
	}

/* Leer */
	#leer {
		position: absolute;
		top: 60%;
		left: 100px;

		color: #ff0;
		font-size: 2em;

		border: #ff0 solid 3px;
		border-radius: 10px;
		display: inline-block;
		padding: 10px;
	}

	#leer:hover {
		animation: colorearFondo 1s forwards;
	}

	@keyframes colorearFondo {
		from {
			background-color: transparent;
			border: #ff0 solid 3px;
		}
		to {
			background-color: #6A0C7B;
			border: #6A0C7B 3px solid;
		}
	}

/* Aviso */
	#contenedor_alerta {
		width: 40ex;
		height: 20ex;
		position: absolute;
		left: 36ex;
		top: 30ex;
		background: rgba(100, 100, 100, 0.6) none repeat scroll 0% 0%;
		border: 5px solid #fff;
		border-radius: 5pt;
		font-size: 20pt;
		color: #f00;
	}

	#caja_alerta {
		margin: 3ex;
		background: rgba(255, 255, 255, 0.8) none repeat scroll 0% 0%;
		height: calc(100% - 6ex);
		border-radius: 5pt;
		text-decoration: underline;
		text-align: center;
	}

	#titulo_alerta {
		font-weight: bold;
		padding: 2ex;
	}

	#mensaje_alerta {
		padding: 2ex;
	}

/* contenedor */
	#contenedor {
		background-color: #ffffff;
		position: relative;
		padding: 20px;
		visibility: hidden;
		width: calc(100% - 40px);
		overflow: hidden;
	}

/* Superior */
	#superior {
		background-color: #000;
		color: #fff;
		font-size: 1.2em;
		height: 45px;		
		z-index: 2;
	}

	#superior li {
		display: inline;
		padding: 10px;
		float: right;
	}

	#superior li a {
		color: #fff;
	}

	#superior li:first-child {
		float: left;
	}

	#superior #logo_superior {
		padding: 0.15ex;
		cursor: pointer;
	}

	#logo_superior span {
		position: relative;
		top: 9px;
	}

	#superior img {
		width: 40px;
	}

	#superior .movil, #superior .ipad {
		display: none;
	}

	#superior span {
		float: left;
		margin-right: 10px;
	}

	.bandera {
		float: left;
		margin-left: 5px;
	}

	#multi {
		cursor: pointer;
	}

/* contenido */
	h1 {
		font-size: 3em;
		text-align: center;
		margin: 10px;
	}

	h2 {
		font-size: 2.5em;
		text-align: center;
		margin: 10px;
		clear: both;
	}

	#contenedor p {
		margin: 20px;
		font-size: 1.2em;
		line-height: 2.7ex;
		padding: 1em;
	}

	#contenedor a {
		color: #008;
	}

	#fotolateral {
		float: right;
		width: 700px;
		margin: 20px;
	}

	#contenedor .desktop {
		display: block;
	}

	#contenedor .movil {
		display: none;
	}

	#descripcion {
		list-style: none;
		width: 70%;
		line-height: 2ex;
		padding: 1em;
	}

	#descripcion li {
		margin: 10px;
	}

	#descripcion p {
		display: inline;
	}

	.retrato {
		width: 50px;
		border-radius: 25px;
		margin: 0 10px;
		float: left;
	}

/* redes */
	#redes {
		border: 2px solid #FB6750;
		background-color: #FB8F50;
		position: relative;
		overflow: hidden;
		width: 100%;
	}

	#redes div {
		float: left;
		margin: 20px calc((100% - 360px*2)/4);
		width: 360px;
	}

	#frame_facebook {
		width: 360px;
		height: 500px;
		border: none;
		overflow: hidden;
	}
	
/* RR SS */
	#rrss {
		font-size: 1.2em;
		width: inherit;
		display: inline-block;
	}

	#rrss ul {
		float: right;
	}

	#rrss li {
		display: inline-block;
		padding: 10px;
		float: left;
	}

	#rrss img {
		width: 50px;
	}

	#rrss span {
		position: relative;
		top: 14px;
	}

/* Legal */
	#legal {
		height: 55px;
		background-color: #000;
		color: #fff;
		position: relative;
		text-align: center;
		visibility: hidden;
	}

	#legal img {
		background-color: #fff;
		border-radius: 14px;
		position: relative;
		top: 9px;
	}

	#legal .ipad { display: none;	}

/* Smartphones (portrait) ----------- */
	@media screen and (max-width: 300px), screen and (max-device-width: 300px) {
		#logo_superior span {
			display: none;
		}
	}

	@media screen and (max-width: 650px), screen and (max-device-width: 650px) {
		body {
			overflow-x: auto;
		}

		header {				
			font-size: 2em;
		}

		#leer {
			font-size: 1.5em;
			left: 20px;
			top: 70%;
		}

		#superior {
			position: fixed;
			top: 0px;
			width: 100%;
		}

		h1 {
			font-size: 1.5em; 
			padding-top: 15%; 
			margin-bottom: 0px;
		}

		h2 {
			font-size: 1.3em;
		}

		#contenedor_alerta {
			width: 34ex;
			height: 18ex;
			left: 0.5ex;
			top: 44ex;
			font-size: 14pt;
		}

		#contenedor {
			padding: 0px;
			top: 710px;
			width: 100%;
			overflow: unset;
		}

		#contenedor p {
			font-size: 1em;
			line-height: 2.4ex;
			margin-bottom: 0px;
			padding: 0;
		}

		#descripcion {
			width: 100%;
			padding: 0;
		}

		#redes {
			margin: auto;
			padding: 5px;
			width: calc(100% - 24px);
			overflow: visible;
		}

		#redes div {
			position: absolute;
			float: unset;
			margin: 0;
			bottom: -260px;
		}

		/* RRSS */
			#rrss ul {
				float: unset;
				margin: 0 auto;
				width: 300px;
			}

			#rrss li {
				display: block;
				float: unset;
				color: #008;
				text-decoration: underline;
			}

			#rrss img {
				width: 25px;
				position: relative;
				top: 5px;
				left: -5px;
			}

			#rrss img:first-child{
				border-radius: 15px;
			}

			.cierre {
				position: absolute;
				top: 0px;
				right: 10px;
				/*display: none;*/
				/*border-radius: 25px;*/
			}

			.cierre img {
				width: 40px;
				background-color: #ff0000;
				border-radius: 20px;
			}

			.red {
				display: none;
			}

		#contenedor .desktop, #superior .desktop, .desktop, aside { display: none; }

		#contenedor .movil, #superior .movil, .movil { display: block; }

		#legal {
			height: 30px;
		}

		#legal img { top: 2px; width: 20px; }
	}

/* Smartphones (landscape) ----------- */
	@media screen and (max-width: 650px) and (orientation: landscape), screen and (max-device-width: 650px) and (orientation: landscape) {
		h1 {
			padding-top: 10%;
		}

		#contenedor_alerta {
			left: 26ex;
			top: 16ex;
		}
		
		#compartir {
			position: relative;
			top: 10px;
			right: 10px;
			float: right;
		}
		
		#frame_facebook {
			width: 340px;
		}
	}

/* iPads (portrait) ----------- */
	@media screen and (min-width : 651px)	and (max-width : 1024px), screen and (min-device-width : 651px)	and (max-device-width : 1024px) {
		header {
			font-size: 2.5em;
		}

		#menumovil { 
			position: absolute;
		}

		#contenedor_alerta {
			font-size: 18pt;
			left: 8ex;
			top: 54ex;
		}

		h1, h2 { font-size: 2em; }

		#superior .desktop, #legal .desktop { display: none; }

		#superior .ipad {	display: block;	}

		#logo_superior img { margin-right: 30px; }

		#fotolateral { 
			width: 40%;
			margin-right: 0px;
		}

		#descripcion {
			width: 100%;
		}
	}

/* iPads (landscape) ----------- */
	@media screen and (min-width : 651px)	and (max-width : 1024px)	and (orientation : landscape), screen and (min-device-width : 651px)	and (max-device-width : 1024px)	and (orientation : landscape) {

		h1 { font-size: 3em; }

		h2 { font-size: 2.5em; }

		#contenedor_alerta {
			top: 32ex;
			left: 32ex;
		}
		
		#fotolateral img { width: 300px; }

		#legal .ipad { display: inline; }	
	}