#contenedor header {
  background: url("../media/cabeceras/tragar_sin.png") 50% 0% no-repeat fixed; }
#contenedor section {
  /*
  &#reservas {	
  	background: url('../media/imagenes/tragar/fondos/foto_reserva.jpg') 80% 80%; 	*/
  /* Imagen Ajena */
  			                                                                             	                    /*
  
  			.contenido { background-color: $rojo_claro;	}
  		}*/ }
  #contenedor section#tosta {
    background: url("../media/imagenes/tragar/fondos/fondo_tos3.jpg") 0 -100px no-repeat, url("../media/imagenes/tragar/fondos/fondo_tos2.jpg") 0 469px no-repeat, url("../media/imagenes/tragar/fondos/fondo_tos1.jpg") 0 912px no-repeat; }
    #contenedor section#tosta .contenido {
      /*background-color: $azul_claro; 
      padding-bottom: 6.5em;*/ }
  #contenedor section#racion {
    background: url("../media/imagenes/tragar/fondos/fondo_rac_migas.jpg") -20px 0 no-repeat, url("../media/imagenes/tragar/fondos/fondo_rac_papas.jpg") -50px 958px no-repeat, url("../media/imagenes/tragar/fondos/fondo_rac_guacamole.jpg") -50px 2291px no-repeat, url("../media/imagenes/tragar/fondos/fondo_rac_arroz.jpg") 0 2854px no-repeat, url("../media/imagenes/tragar/fondos/fondo_rac_tartar.jpg") 0 3519px no-repeat, url("../media/imagenes/tragar/fondos/fondo_rac_carpaccio.jpg") 0 4252px no-repeat;
    /*background-size: cover;*/ }
    #contenedor section#racion .contenido {
      /*background-color: $morado_claro; 
      padding-bottom: 6.5em;*/ }
  #contenedor section article.contenido {
    /*text-align: center;*/
    					/*
    				.articulo {
    					max-width: 300px;
    					display: inline-block;
    
    					.interior {
    
    						.img_fancybox,
    						.img_lightbox {
    
    							.div_imagen {
    
    								height: 250px;
    								width: 100%;
    								padding: 1ex;
    								*/
    /*
    float: left;
    display: none;
    */
    								/*
    								vertical-align: middle;
    
    
    								img { 
    									width: unset;
    									height: 100%;
    									display: block;
    									margin: 0 auto;
    								}
    
    
    								&:before{
    									content: '';
    									display: table-cell;
    								}
    							}
    
    							p {
    								font-size: 1em;
    								line-height: 2ex;
    								vertical-align: top;
    								position: relative;
    								hyphens: auto;
    								*/
    /*
    float: left;
    display: inline-block;
    display: none;
    */
    								/*
    
    								&:before{
    									content: '';
    									display: table-cell;
    								}
    
    								.ingredientes {
    									display: inline-block;
    
    									a[data-fancybox] {
    										display: inline-block;
    										color: #000088;
    										text-decoration: underline;
    										padding: 0.5ex;
    										font-size: .8em;
    									}
    								}
    
    							}
    
    							.alergeno {
    
    								display: none;
    								padding-top: 1ex;
    								left: 10px;
    								clear: both;
    								text-align: right;
    								
    								.nombre { 
    									position: relative;
    									top: -10px;
    									display: none;
    								}
    							
    								.sin_alergeno {	
    									position: unset;
    									height: 30px; 
    								}
    							
    								img {
    									position: relative;
    									width: 30px;	
    									background-color: #fff;
    									border-radius: 50%;
    									left: 10px;
    									margin-right: 10px;
    								
    									&:hover {
    										-webkit-animation: ver_alergeno 1s forwards linear 1;
    										        animation: ver_alergeno 1s forwards linear 1;
    									}
    								}
    							}
    						}
    					}
    
    					&:nth-of-type(even) .img_light_box { float: right; }
    					
    				}
    
    				.mitad {
    					padding: 0 0 1em 0;
    					line-height: 1.5em;
    					display: block;
    					font-size: 1.2em;
    					hyphens: auto;
    
    					#wasap { width: 20px;	}
    				}
    				*/
    				/*
    				form {
    					background-color: $rojo;
    					border: 2px solid $rojo_oscuro;
    					margin: 0 5%;
    					padding: 1ex;
    					position: relative;
    					width: 90%;
    					clear: both;
    							
    					label {
    						display: block;
    						margin: 0.5ex 0 1ex 1ex;
    						font-size: 0.9em;
    					}
    				
    					input {
    						background-color: #FFFFFF;
    						margin-top: 1ex;
    						border: unset;
    						line-height: 1.2em;
    						padding: .5ex;
    						width: 100%;
    						display: block;
    					
    						&:hover {	background-color: #EEEEEE;	}
    					}
    				
    					#etiquetaTexto {
    						font-size: 1.1em;
    						margin-bottom: 0.5em;
    						display: inline-block;
    					}
    
    					textarea {
    						width: 100%;
    						padding: .5ex;
    						margin: 0 auto;
    						display: block;
    					}
    				
    					.boton {
    						width: 80%;
    						margin: 1ex auto;
    						padding: 10px;
    						border-radius: 10px;
    						transition: .5s all linear;
    						border-bottom: 1px solid #000000;
    						letter-spacing: .2ex;
    						cursor: pointer;
    
    						&:hover {
    							background-color: $rojo_oscuro;
    							color: #FFFFFF;
    							box-shadow: 2px 2px 5px #000000;
    						}
    					}
    			
    					#respuesta_form {
    						text-align: center;
    
    						.spinner { 
    							border-radius: 50%;
    							animation: esperar_ajax 3s linear 1 forwards;
    						}
    
    						p { 
    							padding: .4ex; 
    							font-size: 1.2em;
    							max-width: unset;
    							text-align: center;
    							border-radius: 4px;
    
    							&.respuesta_error {
    								color: $error;
    								background-color: $error_claro;
    								border: 2px solid $error_oscuro;
    								
    							}
    
    							&.respuesta_ok {
    								color: $verde_oscuro;
    								background-color: $verde_claro;
    								border: 2px solid $verde_oscuro;
    							}
    						}
    					}
    				}
    				*/ }
    #contenedor section article.contenido #aviso_pan, #contenedor section article.contenido #aviso_rac {
      text-align: center;
      font-size: 1.4em;
      padding: 1ex 0; }

@media screen and (min-device-width: 350px) {
  #contenedor section article.contenido div.articulo_novedad .cinta_verde {
    display: block; } }
@media screen and (min-width: 576px) {
  #contenedor header {
    background: url("../media/cabeceras/tragar_sin.png") 50% 0% no-repeat fixed; }
  #contenedor #lateral {
    -webkit-transform: translateX(10em) rotate(90deg);
    -moz-transform: translateX(10em) rotate(90deg);
    -ms-transform: translateX(10em) rotate(90deg);
    transform: translateX(10em) rotate(90deg);
    width: 400px;
    top: 12.2em;
    left: unset; }
    #contenedor #lateral ul li {
      margin: 0 1ex; }
  #contenedor #tosta .ingredientes span {
    display: none; }
  #contenedor section#reservas article.contenido {
    padding-top: 1em; }
  #contenedor section article.contenido {
    					/*
    					div {
    
    						> a .imagen {	width: 100px;	}
    
    						p {
    							font-size: 1.2em;
    							line-height: 1.2em;
    						}
    
    						.alergeno {	left: 0;	}
    
    					}
    					*/ }
    #contenedor section article.contenido #aviso_pan, #contenedor section article.contenido #aviso_rac {
      text-align: center;
      font-size: 1.4em;
      padding: 1.5ex 0 1ex; }
    #contenedor section article.contenido form textarea {
      width: 90%; } }
@media screen and (min-width: 768px) {
  #contenedor header {
    background: url("../media/cabeceras/tragar.png") 50% 45px no-repeat fixed; }
  #contenedor section article.contenido #aviso_pan, #contenedor section article.contenido #aviso_rac {
    font: 1.5em/1.4em sans-serif; }
  #contenedor section article.contenido div p {
    font: 1.3em/1.3 sans-serif; }
  #contenedor section article.contenido form .error_form {
    left: 0;
    right: 1ex;
    bottom: -2ex; } }
@media screen and (min-width: 992px) {
  #contenedor section#tosta, #contenedor section#racion {
    /*article.contenido { padding-bottom: 4.5em; }*/ } }
@media screen and (min-width: 1024px) {
  #contenedor {
    /*header { background: url("../media/cabeceras/tragar.png") 50% 45px no-repeat fixed;	}*/ }
    #contenedor #tosta .ingredientes span {
      display: block; }
    #contenedor section article.contenido {
      /*.mitad { width: 80%; }*/ }
      #contenedor section article.contenido div p {
        /*font-size: 1.3em;
        line-height: 2.3ex;*/ }
      #contenedor section article.contenido form .boton {
        width: 60%; } }
@media screen and (min-width: 1200px) {
  #contenedor section {
    /*article.contenido .mitad { width: 50%; float: left;}*/ } }
@media screen and (min-width: 1400px) {
  #contenedor section article.contenido form input[type=text] {
    width: 80%;
    margin: 0 auto; }
  #contenedor section article.contenido form label {
    width: 80%;
    margin: .5ex auto 2ex; }
  #contenedor section article.contenido form .error_form {
    left: 5ex;
    right: 6ex; } }

/*# sourceMappingURL=tragar.css.map */
