/* Colores */

	$amarillo_claro: #FFFBC5;
	$amarillo: #FFEE00;
	$amarillo_oscuro: #807700;

	$azul_celeste: #6AD3F3;
	$azul_claro: #D7FDFF;
	$azul: #50EDFB;
	$azul_oscuro: #0398A5;

	$blanco: #ffffff;

	$error: #F60D0D;
	$error_claro: #F0C6C6;

	$error_oscuro: #A91515;

	$gris_claro: #dfdfdf;
	$gris_medio: #FAFAFA;
	$gris: #C2C4C5;
	$gris_antracita: #293133; /* rbg(41, 49, 51) */

	/* olds
	$morado_claro: #F1CFFD;
	$morado: #B749DE;
	$morado_oscuro: #881DAE;
	*/

	$marron_claro: #d9b38c;
	$marron: #BF8040;
	$marron_oscuro: #734D26;

	$morado_claro: #e580ff;
	$morado: #CC00FF;
	$morado_oscuro: #660080;

	$naranja_claro: #FFA366;
	$naranja: #E67E22;
	$naranja_menu: #F4CC70;
	$naranja_oscuro: #8A480F;

	$ocre_claro: #d1b994;
	$ocre: #b38a4d;
	$ocre_oscuro: #6b532e;

	$rojo_claro: #F5B38C;
	$rojo: #FB8F50;
	$rojo_borgona: #A31A29;
	$rojo_oscuro: #FB6750;

	$opaco_cuarto: rgba(0, 0, 0, 0.25);
	$opaco_mitad: rgba(0, 0, 0, 0.5);

	$transparente_uno: rgba(255, 255, 255, 0.1);
	$transparente_cuarto: rgba(255, 255, 255, 0.25);
	$transparente_mitad: rgba(255, 255, 255, 0.5);
	$transparente_trescuartos: rgba(255, 255, 255, 0.75);
	
	$verde_claro: #9CE083;
	/*$verde: #2ECC71;*/
	$verde: #2AC176;
	/*$verde_oscuro: #51C526;*/
	$verde_oscuro: #006600;
	$verde_turquesa: #58D68D;

	:root {
		--fondo-app: #{ $blanco };
	}

/* Animaciones */

	@-webkit-keyframes colorearFondo {

		from {
			background-color: transparent;
			border: #ff0 solid 3px;
		}
		to {
			background-color: #6A0C7B;
			border: #6A0C7B 3px solid;
		}

	}

	@keyframes colorearFondo {
		from {
			background-color: transparent;
			border: #ff0 solid 3px;
		}
		to {
			background-color: #6A0C7B;
			border: #6A0C7B 3px solid;
		}
	}

	@-webkit-keyframes ver_alergeno {
		25% { -webkit-transform: scale(1.5); z-index: 3;}
		50% { -webkit-transform: scale(2); z-index: 3;}
		75% { -webkit-transform: scale(2.5);  z-index: 3; }
		100% { -webkit-transform: scale(3.3);  z-index: 3; }
	}

	@keyframes ver_alergeno {
		25% { -webkit-transform: scale(1.5); transform: scale(1.5); z-index: 3;}
		50% { -webkit-transform: scale(2); transform: scale(2); z-index: 3;}
		75% { -webkit-transform: scale(2.5); transform: scale(2.5); z-index: 3; }
		100% { -webkit-transform: scale(3.3); transform: scale(3.3); z-index: 3; }
	}

	@-webkit-keyframes esperar_ajax {

		100% { transform: rotate(720deg);	}
	}

	@keyframes esperar_ajax {

		100% { transform: rotate(720deg);	}
	}

/* Mixin */

	@mixin clearfix {

		&::after,
		&::before {
			content: '';
			display: block;
			clear: both;
		}
	}

/* General */

* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html { 
	height: 100%;

	&.despensa,
	&.empujar,
	&.tragar { height: auto; } 
}

body {
	overflow-x: hidden;
	height: inherit;
	width: 100%;
	min-width: 300px;

	font-family: verdana, helvetica, sans-serif;
	font-size  : 14pt;

	background-color: #000000;

	> header {
		padding: 1ex;
		font: 2.3em/1.5 sans-serif;
		color: #FFFFFF;
		text-align: center;
		text-shadow: #000000 0px 0px 10px;

		position: relative;
		top: 45px;

		img { transform: scale(.8);	}
	}

	a {
		color: $azul_oscuro;
	}

	.alert {

		@include clearfix;
		padding: .3ex;
		border: 3px solid;
		border-radius: 5px;

		.close {
			float: right;
			color: $blanco;
		}

		.alert-title,
		.alert-content {
			/*float: left;*/
			clear: both;
		}
	}

	.alert-aviso {
		background-color: $amarillo_claro;
		border-color: $amarillo;
		color: $gris_antracita;
	}

	.alert-exito {
		background-color: $verde_claro;
		border-color: $verde;
		color: $gris_antracita;
	}

	.alert-error {
		background-color: $rojo;
		border-color: $rojo_oscuro;
		color: $gris_antracita;
	}

	.btn {
		padding: 6px 12px;
		border: none;
		display: inline-block;
		border-radius: 10px;
		background-color: $blanco;
		color: $gris_antracita;
	}

	.btn_aviso {
		background-color: $amarillo;
		/*color: $blanco;*/

		&:hover {
			background-color: $amarillo_oscuro;
		}
	}

	.btn_exito {
		background-color: $verde;
		color: $blanco;

		&:hover {
			background-color: $verde_oscuro;
		}
	}

	.btn_error {
		background-color: $rojo;
		color: $blanco;

		&:hover {
			background-color: $rojo_oscuro;
		}
	}

	.clearfix {
		@include clearfix;
	}

	.fancybox-container {

		.fancybox-content{
			border-radius: 20px;
		}

		.fancybox-iframe {
			border-radius: 20px;
			padding: 1ex;
		}
	}

	.mi_form {

		.form-group {

			margin-bottom: 30px;

			.control-label {
				display: inline-block;
				margin-bottom: .5ex;
			}

			.form-control {

				display: inline-block;
				width: 100%;
				line-height: 1.3em;

				&:focus {
					/*outline: 0;*/
				}
			}
		}


		.form-check {

			.pestana {
				position: relative;
				padding: 5px 0px;
				display: block;
				width: 150px;

				input {
					appearance: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					visibility: hidden;
					position: absolute;
					right: 0;

					&+ i {
						background: $rojo;
						border: 2px solid rgba(0, 0, 0, .2);
						position: absolute;
						top: 0px;
						margin-left: 1ex;

						width: 52px;
						height: 30px;
						border-radius: 15px;

						&:before{
							content: '';
							width: 26px;
							height: 26px;
							border-radius: 50%;
							background: #fff;

							position: absolute;
							left: 0;
							top: 0;
							-webkit-box-shadow: 3px 0 3px 0 rgba(0, 0, 0, .2);
							box-shadow: 3px 0 3px 0 rgba(0, 0, 0, .2);
						}

						&:after {
							content: 'NO';
							position: absolute;
							font-size: 10px;
							color: rgba(255, 255, 255, .6);
							top: 6px;
							right: 4px;
							/*opacity: 0;*/
							transition: all .25s ease .25s;
						}
					}

					&:checked {

						&+ i {
							background: $verde;

							&:before {
								left: 22px;
								-webkit-box-shadow: 3px 0 3px 0 rgba(0, 0, 0, .2);
								box-shadow: 3px 0 3px 0 rgba(0, 0, 0, .2);
							}

							&:after {
								content: 'SI';
								left: 4px;
								right: initial;
								/*opacity: 1;*/
							}
						}
					}

					&:disabled {

						&+ i { cursor: not-allowed;	}
					}
				}
			}
		}

		.form-check input { margin: 0 1ex; }

		.form_check_circulo {

			position: relative;
			/*margin-bottom: 30px;*/
			padding: 5px 0 5px 60px; /* El elemento <i> va en el espacio de 60px */
			display: block;
			/*height: 55px;*/

			label {	
				width: 100%;
				text-align: left; 
			}

			input {

				appearance: none;
				-webkit-appearance: none;
				-moz-appearance: none;

				visibility: hidden;
				position: absolute;
				right: 0;
			}
		
			input + i { /* Todos los <i> después de un input */
				background: #f0f0f0;
				border: 2px solid rgba(0, 0, 0, .2);
				position: absolute;
				left: 0;
				top: 0;

				width: 30px;
				height: 30px;
				border-radius: 100%;
				left: 15px;
		
				&:before {
					content:'';
					display: block;
					width: 18px;
					height: 18px;
					background: red;
					border-radius: 100%;
					z-index: 1;

					position: absolute;
					top: 4px;
					left: 4px;

					background: #2AC176;
					transition: all .25s ease;
					transform: scale(0);
					opacity: 0;
				}
			}

			input:checked + i:before {
				transform: scale(1);
				opacity: 1;
			}
		
			&:hover input:not(:checked) + i { background: #B1E8CD; }
		}
	}

	.mitad {

		@include clearfix;

		padding: 0 0 1ex 0;
		line-height: 1.3em;
		display: block;
		/*font-size: 1.2em;*/
		hyphens: auto;

		#wasap { width: 20px;	}
	}

	.text-center {
		text-align: center;
	}
}

#menumovil {
	position: fixed;
	top: 45px;
	z-index: 5;

	/*width: calc(100% - 12px);*/
	width: 100%;
	color  : #FFFFFF;
	border: 6px double $verde_claro;
	background-color: $verde_oscuro;
	border-radius: 0 0 20px 20px;

	display: none;
	opacity: 0;

	ul {
		margin: 1ex;
		/*margin-left: 2em;*/
		font: 1.3em/1.4 sans-serif;
		text-align: right;

		li a { color: $verde_claro; }
	}
}

#menuidiomas {
	position: fixed;
	top: 45px;
	z-index: 5;

	/*width : calc(100% - 12px);*/
	width : 100%;
	border: 6px double $morado_claro;
	background-color: $morado_oscuro;
	border-radius: 0 0 20px 20px;

	opacity: 0;
	display: none;

	ul {
		margin: 1em;
		margin-left: 2em;
		font: 1.3em/1.4 sans-serif;

		span {
			position: relative;
			top: -0.25ex;
			margin-left: 1em;
			color: $blanco;
		}

	}
}

#leer {
	position : absolute;
	bottom   : 10%;
	left     : 20px;
	
	color    : #ff0;
	font-size: 1.5em;
	
	display  : inline-block;
	padding  : 10px;
	border   : #ff0 solid 3px;
	border-radius: 10px;

	cursor: pointer;

	&:hover {
		-o-animation     : colorearFondo 1s forwards;
		-moz-animation   : colorearFondo 1s forwards;
		-webkit-animation: colorearFondo 1s forwards;
		animation        : colorearFondo 1s forwards;
	}
}

#contenedor {

	@include clearfix;

	padding: 0;
	position: relative;
	top: 100%;
	background-color: #FFFFFF;
	width: 100%;

	.superior {
		width: 100%;
		min-width: 300px;
		height: 45px;
		color    : #FFFFFF;
		font-size: 1.2em;
		background-color: #000000;


		position: fixed;
		top: 0px;
		left: 0;
		right: 0;
		z-index : 2;
				
		li {
			padding: 10px;
			float  : right;
			
			a { color: #FFFFFF; }

			&.imagenes {
				float: left;
				padding: 0.25ex;

				img { 
					float: left; 
					width: 40px; 
					margin-left: 10px;

					&.bandera {
						position: relative;
						top: 8px;

					}

					&#multi { 
						height: 25px; 
						width: 50px;
						margin-left: 25px;
						cursor: pointer;
					}
				}
			}

			&.menu {
				cursor : pointer;
				border-radius: 5px;
				transition: .5s linear all;
				height: 100%;
				margin: 5px;
				padding: 5px;

				&:hover { background-color: $rojo_oscuro; }

				span { 
					float: right;
					margin-left: 10px;
				}
			}

			&.desktop {

				font-size: .9em;
			}

		}		
	}

	/* carta */
	#lateral {
		position: fixed;
		z-index: 100;
		right: 0;
		left: 0;
		top: 45px;

		text-align: center;
		background-color: $verde_claro;
	
		ul {
			padding: .3ex;
			
			li {
				display: inline-block;
				padding: .2ex .4ex;
				font-size: 1.2em;
				border-radius: 5px;
				cursor: pointer;
			}
		}
	}

	h1 {
		margin     : .5em 0 0;
		padding-top: 55px;
		font-size  : 1.5em;
		text-align : center;
	}

	section {

		@include clearfix;

		width: 100%;
		float: left;
		padding: 0 1ex;

		/*a { color: #000088; }*/

		/*article { @include clearfix; }*/

		&.contenido {

			.imagen_lateral {

				/*display: block;*/
				float: right;
				width: 50%;
				margin: 10px 20px;

				/*&::after {
					content: '';
					display: block;
					clear: both;
				}*/


				iframe { margin: 0 auto !important; }

				img { 
					width: 100%;
					height: 400px; 
				}

				p { 
					/*font-size: 1.1em;*/
					background: rgba(255,255,255,0.7);
					/*display: inline-block;*/
					border-radius: 10pt;

					position: absolute;
					top: 5%;
					left: 10%;
					right: 10%;
					bottom: 5%;
				}
			}

			.texto {
	
				> p {
					/*float: left;*/
					padding: 1ex 2ex;
					font: 1em/1.2 sans-serif;
					text-align: justify;
					hyphens: auto;
				}

				.protagonistas { /* ul */
					font: 1em/1.2 sans-serif;
					list-style: none;
					padding: 1em;

					li {
						hyphens: auto;
						text-align: justify;
						margin: 0 0 1em;

						.retrato {
							width: 50px;
							border-radius: 25px;
							margin: 0 10px;
							float: left;
						}

						&:last-of-type { margin: 0; }
					}
				}

				.anuncio {
					position: relative;
					overflow: hidden;
					border-radius: 10pt;
					height: 250px;
					/* height: 100px !important;  Anuncio Semana Santa */

					margin: 10px 20px;
			
					img { width: 100%; }
					
					p {
						padding: 1ex;
						display: inline-block;
						background: rgba(255,255,255,0.7);
						border-radius: 10pt;
						font: 1.1em/1.2 sans-serif;
						hyphens: auto;
						text-align: justify;

						position: absolute;
						top: 5%;
						left: 10%;
						right: 10%;
						bottom: 5%;
						
						a {	color: #000088; }
					}
				}
			}
		}

		&.compartir { /* FB y TW */
			background-color: $verde;
			padding: 1.6ex 0 1.2ex;

			div {
				width: 100%;
				text-align: center;
				padding: 1ex 0;

				iframe { transform: scale(1.5);	}
			}
		}

		&.rrss { /* Siguenos: */
			font-size: 1.2em;
			clear: both;
		
			li {
				padding: .5ex 0;
				float: left;
				margin-bottom: 1ex;

				&:first-of-type { 
					float: unset;
					margin: 0;
				}

				&:last-of-type {
					margin-left: 2ex;
				}
				
				a {
					display: block;
					border-radius: 5px;
					transition: .5s all linear;
					padding: .4ex .6ex 0;

					img {
						width: 50px;
						margin: 0 5px;
						border-radius: 50%;
					}
					
					span {
						position: relative;
						top: -18px;
					}

					&:hover {
						background-color: #D9D8FF;
					}
				}
			}
		}
	}

	table {

		width: 100%;
		padding: 2ex;
		margin-bottom: 1em;

		.centrado { text-align: center; }

		.una_linea { white-space: nowrap; }

		thead {

			tr {

				border-bottom: 2px solid $rojo_oscuro;

				th {
					text-align: center;
					padding: 1ex;
					white-space: nowrap;
					max-width: 40%;
				}
			}
			
		}

		tbody {

			border-bottom: 2px solid $rojo_oscuro;

			tr {

				&:nth-of-type(even){
					background-color: $gris_claro;
				}

				td {
					padding: 1ex;

					.btn { white-space: nowrap; }
				}
			}
		}
	}

	&.carta {

		padding: 0;

		> header {
			background-color: #000000;
			height: 150px;
			padding-top: 46px;
		}

		.superior {	
			position: fixed; 
			z-index: 100;
		}

		section {

			padding: 0;

			legend {
				margin: 10px;
				margin-left: 20px;
				font-size: 1.2em;
				text-decoration: underline;
			}

			article {

				float: left;
				min-height: 1px;
				background-color: #FFFFFF;

				&.contenido {
					
					@include clearfix;

					padding: 0 15px;
					/*width: 300px;*/
					width: 100%;
					text-align: center;
					margin: 0 auto;

					.articulo {

						@include clearfix;

						position: relative;
						padding: 0 15px;
						margin-bottom: 1ex;
						display: block;

						width: 100%;
						background-color: #fff;
						text-align: center;
						float: left;

						.interior {

							@include clearfix;

							display: block;
							width: 300px;
							max-width: 100%;
							margin: 0 auto;
							position: relative;

							.img_fancybox,
							.img_lightbox {

								display: block;
								color: $gris_antracita;

								.div_imagen {

									height: 250px;
									width: 100%;
									padding: 1ex;
									overflow: hidden;

									img { 
										width: unset;
										height: 100%;
										display: block;
										margin-left: 50%;
										transform: translateX(-50%);
									}


									&:before{
										content: '';
										display: table-cell;
									}
								}

								p {
									font-size: 1em;
									/*line-height: 1em;*/
									vertical-align: top;
									position: relative;
									hyphens: auto;
									height: 2em;


									/*&:before{
										content: '';
										display: table-cell;
									}

									.ingredientes {
										display: inline-block;

										a[data-fancybox] {
											display: inline-block;
											color: #000088;
											text-decoration: underline;
											padding: 0.5ex;
											font-size: .8em;
										}
									}
									*/
								}

								.alergeno {

									display: none;
									padding-top: 1ex;
									left: 10px;
									clear: both;
									text-align: right;
									
									.nombre { 
										position: relative;
										top: -10px;
										display: none;
									}
								
									.sin_alergeno {	
										position: unset;
										height: 30px; 
									}
								
									img {
										position: relative;
										width: 30px;	
										background-color: #fff;
										border-radius: 50%;
										left: 10px;
										margin-right: 10px;
									
										&:hover {
											-webkit-animation: ver_alergeno 1s forwards linear 1;
											        animation: ver_alergeno 1s forwards linear 1;
										}
									}
								}
							}
						}

						/*&:nth-of-type(even) .img_light_box { float: right; }*/

						&.final {

							width: 100%;

							.interior { width: 100%; }

							.img_lightbox {

								display: none;
								float: left;
								.div_imagen { 
									height: 150px; 

									&.zumos { display: none; }
								}
							}

							p {

								float: left;
								text-align: left;
								padding-left: 1em;

								&.lista_doble {

									span {
										display: inline-block;
										margin-right: 1em;
										float: left;
									}
								}
							}
						}

						&.articulo_novedad {

							border-color: #BFDC7A;	

							> a { float: right; }

							.novedad {
								border-radius: unset;
								width: 115px;
								height: 115px;
								/*
								width: 85px;
								height: 88px;
								top: -6px;
								right: -6px;
								*/
								overflow: hidden;
								position: absolute;

								top: 8px;
								right: -2px;
								z-index: 2;
							}

							.cinta_verde {
								/*width: 120px;*/
								width: 150px;
								font: bold 15px Sans-Serif;
								/*color: #333;*/
								text-align: center;
								text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;

								-webkit-transform: rotate(45deg);
								-moz-transform:    rotate(45deg);
								-ms-transform:     rotate(45deg);
								-o-transform:      rotate(45deg);

								position: relative;
								padding: 7px 0;
								left: 0px;
								top: 25px;
								/*left: -5px;
								top: 15px;*/

								color: #6a6340;
								background-color: #BFDC7A;
								background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
								background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
								background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
								background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
								background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
								-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
							}
						}

						&.articulo_novedad_old {

							border-color: #BFDC7A;	

							> a { float: right; }

							.novedad {
								border-radius: unset;
							  width: 85px;
							  height: 88px;
							  overflow: hidden;
							  position: absolute;
							  top: -6px;
							  right: -6px;
							}

							.cinta_verde {
								/*display: none;*/
							  font: bold 15px Sans-Serif;
							  color: #333;
							  text-align: center;
							  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;

							  -webkit-transform: rotate(45deg);
							  -moz-transform:    rotate(45deg);
							  -ms-transform:     rotate(45deg);
							  -o-transform:      rotate(45deg);

							  position: relative;
							  padding: 7px 0;
							  left: -5px;
							  top: 15px;

							  width: 120px;
							  color: #6a6340;
							  background-color: #BFDC7A;
							  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
							  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
							  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
							  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
							  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
							  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); -moz-box-shadow: 0px 0px 3px rgba(0,0,0,0.3); box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
							}
						}
					}

					.texto_reserva {
						padding: 0 1ex;
					}

					.form_reserva {
						background-color: $rojo;
						border: 2px solid $rojo_oscuro;
						padding: 1ex;
						position: relative;
								
						label {
							display: block;
							margin: 0.5ex 0 1ex 1ex;
							font-size: 0.9em;
						}
					
						input {
							background-color: #FFFFFF;
							margin-top: 1ex;
							border: unset;
							line-height: 1.2em;
							padding: .5ex;
							width: 100%;
							display: block;
						
							&:hover {	background-color: #EEEEEE;	}
						}
					
						#etiquetaTexto {
							font-size: 1.1em;
							margin-bottom: 0.5em;
							display: inline-block;
						}

						textarea {
							width: 100%;
							padding: .5ex;
							margin: 0 auto;
							display: block;
						}
					
						.boton {
							width: 80%;
							margin: 1ex auto;
							padding: 10px;
							border-radius: 10px;
							transition: .5s all linear;
							border-bottom: 1px solid #000000;
							letter-spacing: .2ex;
							cursor: pointer;

							&:hover {
								background-color: $rojo_oscuro;
								color: #FFFFFF;
								box-shadow: 2px 2px 5px #000000;
							}
						}
				
						#respuesta_form {
							text-align: center;

							.spinner { 
								border-radius: 50%;
								animation: esperar_ajax 3s linear 1 forwards;
							}

							p { 
								padding: .4ex; 
								font-size: 1.2em;
								max-width: unset;
								text-align: center;
								border-radius: 4px;

								&.respuesta_error {
									color: $error;
									background-color: $error_claro;
									border: 2px solid $error_oscuro;
									
								}

								&.respuesta_ok {
									color: $verde_oscuro;
									background-color: $verde_claro;
									border: 2px solid $verde_oscuro;
								}
							}
						}
					}
				}
			}

			&#reservas {

				/*background: url('../media/imagenes/tragar/fondos/foto_reserva.jpg') 80% 80%; 	/* Imagen Ajena */

				.contenido { background-color: $rojo_claro;	}
			}
		}
	}


	.legal {
		clear: both;
		position: relative;
		text-align: center;
		top: 100%;

		padding: 1ex 0;
		border-top: 2px solid #ddd;
	
		img {
			background-color: #fff;
			border-radius: 14px;
			position: relative;
			top: 2px;
			width: 20px;
		}

		p { line-height: 1.3em; }
	}
}

.empujar {

	#contenedor.carta section article.contenido .articulo.articulo_novedad .novedad {

		right: 20%;
		/*right: 80px;*/
	}
}

.despensa {

	.titulo_despensa {
		font-size: 1.3em;
		text-align: left;
		padding-left: 2ex;
		margin: 20px 0;
	}
}

/* Ocultos desde la version movil */
#contenedor {
	#lateral, /* Activado con JS */
	&.carta .foto,
	.imagen_lateral,
	.anuncio,
	.ipad,
	.desktop { display: none; }
}

/* Medias */
@media screen and (min-width: 350px) {
	
	#contenedor {

		#lateral ul li { margin: 0 .5ex; }

		&.carta section article.contenido {

			.articulo .interior {

				.img_fancybox p { 
					
					/*font-size: 1.1em; */
				}

				/*&.articulo_novedad .cinta_verde { display: block; }*/
			}
		}
	}
}

@media screen and (min-width: 450px) {
	
	#contenedor {

		/*#lateral ul li { margin: 0 .5ex; }*/

		&.carta section article.contenido {

			.articulo.final .interior {

				.img_lightbox { display: block;	}
			}
		}
	}
}

@media screen and (min-width: 576px) {

	body {

		> header { font-size: 2.5em; }
	}

	#menumovil { position: absolute; }

	#leer { left: 35%; }

	#contenedor {

		padding: 20px;

		.movil { display: none; }

		.ipad { display: block; }

		.superior {	position: static;	}

		h1 { 
			font-size: 2.5em; 
			margin-bottom: .5em;
			padding-top: 0;
		}

		#lateral { 
			background-color: transparent; 

			ul {
				background-color: rgba(255, 255, 255, .5);
				border-radius: 0 15px 15px 0;
			}
		}

		section.contenido { 

			.imagen_lateral { display: block; }

			.texto {

				> p, .protagonistas {

					font: 1.2em/1.3 sans-serif;
				}

				.anuncio { display: block; }
			}
		}

		&.carta {

			header { height: 150px; }

			section {

				article {

					&.contenido {

						legend { font: 1.4em; }

						.articulo {

							width: 50%;

							.interior {

								.img_fancybox {

									p { 
										font: 1.2em/1.2 sans-serif;	

										&.largo {
											
											font: 1.1em/1.1 sans-serif;	
										}
									}
								}
							}
						}
					}
				}
			}
		}

		&.cont_despensa {

			.marco {

				#login {

					.form_login { width: 350px; }
				}
			}
		}
	}
}


@media screen and (min-width: 768px) {

	body {
		header { font-size: 3em; }

		.mitad { 
			width: 50%;
			float: left; 
		}
	}

	#leer {	font-size: 2em;	}

	#contenedor{

		section.contenido .texto {
			padding: 1ex 2ex;

			.anuncio { 
				width: 80%; 
				margin: 10px auto;

				p { font: 1.2em/1.3 sans-serif; }
			}
		}

		&.carta {

			header { height: 240px; }

			section article.contenido {

				legend { font-size: 1.6; }

				.articulo {

					width: 33%;

					.interior .img_fancybox {

						p { 
							font: 1.3em/1.3 sans-serif;
							height: 60px; 
						}
					}

					&.final .interior {

						.img_lightbox { 
							
							/*.div_imagen { height: 150px; }*/

						}
					}
				}
			}
		}
	}
}


@media screen and (min-width: 992px) {

	body {
		> header img { transform: scale(1); }
	}

	#leer { left: 200px; }

	#contenedor {

		section.contenido	{

			.imagen_lateral { display: block; }

			.texto {

				.anuncio {
					height: 200px;

					p { padding: 1ex 2ex; }
				}
			}
		}

		&.carta {

			section {

				article.contenido {

					.articulo.final .interior {

						.img_lightbox .div_imagen.zumos { display: block; }
					}	
				}
			}
		}
	}
}


@media screen and (min-width: 1024px) {

	#contenedor {

		.menu,
		.ipad { display: none; }

		.desktop { display: block; }

		&.carta {

			header { height: 240px; }
		}
	}
}


@media screen and (min-width: 1200px) {

	body {
		/*
		.mitad {
			width: 50%;
			float: left;
		}
		*/
	}

	#leer { bottom: 20%; }

	#contenedor {

		section.contenido .texto {

			> p, .protagonistas, .anuncio p {	font: 1.3em/1.4 sans-serif;	}

		}


		&.carta {

			section {

				article {

					&.contenido .articulo {
						width: 25%;
					}
				}
			}
		}
	}
}


@media screen and (min-width: 1600px) {}

