<?xml version="1.0" encoding="UTF-8"?>


<phpunit bootstrap="vendor/autoload.php"
		 verbose="false"
		 colors="true">

	<testsuites>
		<testsuite name="general">
			<directory>tests/</directory> 
		</testsuite>
	</testsuites>

	<php>

		<const name='BASE_URL' value='http://localhost/latragona/'/>
		<const name='BASE_API' value='http://localhost/latragona/php/api/'/>
		<const name='BASE_FILE' value='/Applications/xampp/htdocs/latragona/'/>

		<const name='BASE_CARTA' value='/Applications/xampp/htdocs/latragona/php/lib/carta_test.txt'/>
		<const name='ADMIN_HASH' value='$2fr5)unjck'/>

	</php>

	<filter>
		<whitelist>
			<!-- 
			<directory suffix=".php">lib/</directory>
				<directory suffix=".php">src/MasTest/</directory> ¿Inutil? 
			-->
		</whitelist>
	</filter>


</phpunit>