@-webkit-keyframes colorearFondo {
	from {
		background-color: transparent;
		border: #ff0 solid 3px;
	}
	to {
		background-color: #6A0C7B;
		border: #6A0C7B 3px solid;
	}
}

@keyframes colorearFondo {
	from {
		background-color: transparent;
		border: #ff0 solid 3px;
	}
	to {
		background-color: #6A0C7B;
		border: #6A0C7B 3px solid;
	}
}

* {
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
		 			box-sizing: border-box;
}

html { 
	height: 100%;

	body {
		height: inherit;
		width: 100%;
		background-color: #000000;
		font-family: verdana, helvetica, sans-serif;
		font-size: 14pt;
		background: url("../media/cabeceras/tragona_entrada.jpg") fixed center center;
		background-size: cover;
		overflow-x: hidden;
	}
}

#menumovil {
	position: fixed;
	top: 45px;

	background-color: #000;
	color: #fff;
	width: 100%;
	height: 14em;
	opacity: 0;
	z-index: 5;

	display: none;

	ul {
		margin: 1em;
		margin-left: 2em;
		line-height: 3ex;
		font-size: 1.3em;
	}
}

#menuidiomas {
	position: fixed;
	top: 45px;

	background-color: #000;
	color: #fff;
	width: 100%;
	height: 12em;
	opacity: 0;
	z-index: 5;

	display: none;

	ul {
		margin: 1em;
		margin-left: 2em;
		line-height: 3ex;
		font-size: 1.3em;

		span {
			position: relative;
			top: -0.25ex;
			margin-left: 1em;
		}

	}
}

/* Cabecera */	
header {
	font-size: 2em;
	color: #fff;
	text-shadow: #000 0px 0px 10px;
	text-align: center;
	line-height: 1.5em;

	position: absolute;
	top: 3ex;
	width: 100%;

	img {	transform: scale(.8);	}
}

/* Leer */
#leer {
	position: absolute;
	bottom: 10%;
	left: 20px;

	color: #ff0;
	font-size: 1.5em;

	border: #ff0 solid 3px;
	border-radius: 10px;
	display: inline-block;
	padding: 10px;

	&:hover {
		-webkit-animation: colorearFondo 1s forwards;
		        animation: colorearFondo 1s forwards;
	}
}

#contenedor {
	background-color: #fff;
	position: relative;
	padding: 0;
	visibility: hidden;
	top: 100%;

	.superior, #superior {
		background-color: #000000;
		color: #FFFFFF;
		font-size: 1.2em;
		height: 45px;
		z-index: 2;


		position: fixed;
		top: 0px;
		width: 100%;
				
		li {
			padding: 10px;
			float: right;
			
			a { color: #FFFFFF; }
			
			img {	
				width: 40px; 

				&.bandera {
					float: left;
					margin-left: 5px;
					cursor: pointer;
				}
			}
			
			span {
				float: left;
				margin-right: 10px;
			}

			&:first-child { float: left;	}

			&#logo_superior {
				padding: 0.15ex;
				cursor: pointer;
			
				span {
					position: relative;
					top: 9px;
				}
			}

		}		
		
		li:nth-of-type(3) { display: none; }
	}

	h1 {
		font-size: 1.5em;
		text-align: center;
		margin: .5em 0 0;
		padding-top: 55px;
	}

	h2 {
		font-size: 1.5em;
		padding: 1ex;
		text-align: left;
		clear: both;
		border-bottom: 2px solid #000000;
		margin: 1em;
		margin-left: 0;

		&.bebida {
			text-align: right;
			margin-right: 0;
			margin-left: 1em;
		}
	}
	
	section {
		padding: 1ex;

		a {	color: #008; }
		
		&.izquierda {

			p {
				padding: 1ex 2ex;
				font-size: 1em;
				line-height: 1.2em;
				text-align: justify;
				word-break: break-word;
				hyphens: auto;
			}


			#cartel_navidad,
			.imagen_lateral {
				position: relative;
				overflow: hidden;
				border-radius: 10pt;
				float: right;
				width: 50%;
				margin: 10px 20px;
				/*display: none;*/
		
				img { 
					width: 100%;
					/*margin-left: -50%;*/
				}

				/*
				img.planta {
					-webkit-border-radius: 50%;
					   -moz-border-radius: 50%;
					        border-radius: 50%;
					width: 100%;
				}
				*/
				
				p {
					background: rgba(255,255,255,0.7);
					display: inline-block;
					border-radius: 10pt;

					position: absolute;
					top: 5%;
					left: 10%;
					right: 10%;
					bottom: 5%;
					
					a {	color: #008; }
				}
			}
		}

		&.pasarelas article {
			float: left;
			width: 50%;
			padding: 0 1ex;
			height: 600px;

			> div { 
				width: 100%;
				height: 100%;
				height: 400px !important;
			}

			&:last-of-type .marco_bebida{
				overflow: hidden;
				position: relative;

				> div {
					/*vertical-align: middle;
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;*/
					overflow: hidden;
					height: inherit;
					width: 25%;
					height: 100%;
					display: inline-block;
					background-position: 45% 60%;
					background-repeat: no-repeat;

					&:hover p {
						height: 2em;
					};

					/*img { 
						display: block;
						position: relative;
						top: -30%;
						left: -25%; 
						z-index: 1;
					}*/


					p { 
						font-size: 1.3em;
						position: absolute;
						bottom: 0em;
						left: 0;
						/*z-index: 10;*/
						background-color: #000;
						color: #fff;
						width: 100%;
						height: 0;
						line-height: 2em;
						z-index: 10;
						padding-left: 1em;

						transition: 1s linear all;

					}

					/*&:nth-of-type(2) {
						left: 25%;
						z-index: 2;
					}

					&:nth-of-type(3) {
						left: 50%;
						z-index: 3;
					}

					&:nth-of-type(4) {
						left: 75%;
						z-index: 4;
					}*/
				}
			}
		}

		&.compartir div {
			display: block;
			width: 100%;
			text-align: center;
			margin-bottom: 1ex;
		}

		/* Cambiar por actual
		&.compartir {
			background-color: $verde;
			padding: 1.6ex 0 1.2ex;

			div {
				width: 100%;
				text-align: center;
				padding: 1ex 0;

				iframe {
					transform: scale(1.5);
					
				}
			}
		}
		*/

		&.rrss {
			font-size: 1.2em;
			clear: both;
		
			li {
				padding: .5ex 0;
				float: left;
				margin-left: 2ex;
				margin-bottom: 1ex;

				&:first-of-type { 
					float: unset;
					margin: 0;
				}
				
				a {
					display: block;
					border-radius: 5px;
					transition: .5s all linear;
					padding: .4ex .6ex 0;

					img {
						width: 50px;
						margin: 0 5px;
						border-radius: 50%;
					}
					
					span {
						position: relative;
						top: -18px;
					}

					&:hover {
						background-color: #D9D8FF;
					}
				}
			}
		}
	}

	.legal {
		clear: both;
		position: relative;
		text-align: center;
		top: 100%;

		padding: 1ex 0;
		border-top: 2px solid #ddd;
	
		img {
			background-color: #fff;
			border-radius: 14px;
			position: relative;
			top: 2px;
			width: 20px;
		}

		p { line-height: 1.3em; }
	}
}

/* Cartel_evento 
	#cartel_evento {
		border: 11px double #ccc;
		-webkit-border-radius: 50pt;
		   -moz-border-radius: 50pt;
		        border-radius: 50pt;
		padding: 3ex 0;
	}

	#cartel_evento a { color: inherit; }

	#cartel_evento p {
		text-align: center;
		padding: 0 1ex 1ex;
		font-size: 1.7em;
		font-weight: bold;
		line-height: 1.2em;
	}

	#cartel_evento p:first-of-type {
		font-size: 2em;
		font-weight: bold;
		color: #f00;	
	}

	#cartel_evento img {
		width: 50%;
		display: block;
		margin: 0 auto;
	}

	#cartel_evento .escalera span {
		display: block;
	}

	#cartel_evento .escalera span:first-of-type {
		text-align: left;
		color: #60f;
	}

	#cartel_evento .escalera span:nth-of-type(2) {
		color: #587B58;
	}

	#cartel_evento .escalera span:last-of-type {
		text-align: right;
		padding-right: 4ex;
		color: #2EFE2E;
	}
*/

	/* Ocultos desde la version movil */
#contenedor {
	.imagen_lateral,
	.ipad,
	.desktop { display: none; }
}

@media screen and (min-device-width: 280px) {}


@media screen and (min-device-width: 576px) {

	header { 
		font-size: 2.5em; 

		img { transform: scale(1); } 
	}

	#menumovil { position: absolute; }

	#leer { left: 35%; }

	#contenedor {
		padding: 20px;

		.superior {	
			position: static;	

			#logo_superior img { margin-right: 30px; }
		}

		.movil { display: none; }

		.imagen_lateral,
		.ipad { display: block; }

		h1 { 
			font-size: 2.5em; 
			margin-bottom: .5em;
			padding-top: 0;
		}

		section.izquierda {

			> p {
				font-size: 1.2em;
				line-height: 1.2em;
			}

			.imagen_lateral {
				
				img { height: 400px; }

				p { font-size: 1.1em;	}
			}
		}

		.legal { 
			/*height: 55px; */

			img { top: 9px; width: auto; }

			.ipad { display: inline; }			
		}

	}	
}

@media screen and (min-device-width: 768px) {

	header { font-size: 3em; }

	#leer {	font-size: 2em;	}

	#contenedor {

		section.izquierda	{

			> p { font-size: 1.4em; }

			.imagen_lateral{ font-size: 1.2em;	}
		}
	}
}

@media screen and (min-device-width: 992px) {

	#leer { left: 200px; }

	#contenedor {

		section.izquierda	.imagen_lateral{ height: 400px;	}
	
	}
}

@media screen and (min-device-width: 1024px) {

	#contenedor {

		#logo_superior, 
		.ipad { display: none; }

		.desktop { display: block; }

		section.izquierda .imagen_lateral p { 
			padding: 1em;
			line-height: 1.5em;
		}


	}
}

@media screen and (min-device-width: 1200px) {

	#leer { bottom: 20%; }

	#contenedor {
		
		.superior li:nth-of-type(3) { display: block; }

		section.izquierda .imagen_lateral { 
			margin: 20px 0 20px 20px;
			height: unset;

			p {
				padding: 1.5em 2em;
			}
		}
	}
}

@media screen and (max-width: 300px), screen and (max-device-width: 300px) {
		/* rotulo Menu junto a logo*/
	#logo_superior span {	display: none; }
}
