/* Colores */
	$rojo: #FB8F50;

	$rojo_oscuro: #FB6750;

	$rojo_claro: #F5B38C;

	$azul: #50EDFB;

	$azul_claro: #D7FDFF;

	$azul_oscuro: #0398A5;

	$morado: #B749DE;

	$morado_claro: #F1CFFD;

	$morado_oscuro: #881DAE;

	$verde: #54E31D;

	$verde_claro: #9CE083;

	$verde_oscuro: #51C526;

	$error: #F60D0D;

	$error_claro: #F0C6C6;

	$error_oscuro: #A91515;

	$naranja_menu: #F4CC70;

/* Animaciones */
	@-webkit-keyframes colorearFondo {
		from {
			background-color: transparent;
			border: #ff0 solid 3px;
		}
		to {
			background-color: #6A0C7B;
			border: #6A0C7B 3px solid;
		}
	}

	@keyframes colorearFondo {
		from {
			background-color: transparent;
			border: #ff0 solid 3px;
		}
		to {
			background-color: #6A0C7B;
			border: #6A0C7B 3px solid;
		}
	}
/*
* {
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
		 			box-sizing: border-box;
}
*/
html { 
	/*height: 100%;*/

	body {
		/*overflow-x : hidden;
		height     : inherit;
		width      : 100%;

		font-family: verdana, helvetica, sans-serif;
		font-size  : 14pt;*/
		
		background : url("../media/cabeceras/quienessomos.jpg") fixed center center;
		background-size : cover;
		/*background-color: #000000;*/
	}
}
/*
#menumovil {
	position: fixed;
	top: 45px;

	background-color: #000000;
	color  : #FFFFFF;
	width  : 100%;
	height : 14em;
	opacity: 0;
	z-index: 5;

	display: none;

	ul {
		margin     : 1em;
		margin-left: 2em;
		line-height: 3ex;
		font-size  : 1.3em;
	}
}

#menuidiomas {
	position: fixed;
	top: 45px;

	background-color: #000000;
	color: #FFFFFF;
	width: 100%;
	height: 12em;
	opacity: 0;
	z-index: 5;

	display: none;

	ul {
		margin: 1em;
		margin-left: 2em;
		line-height: 3ex;
		font-size: 1.3em;

		span {
			position: relative;
			top: -0.25ex;
			margin-left: 1em;
		}

	}
}

header {
	padding   : 0 1ex;
	font      : 2em/1.5 sans-serif;
	color     : #FFFFFF;
	text-align: center;
	text-shadow: #000000 0px 0px 10px;

	position: relative;
	top     : 3ex;

	img {	transform: scale(.8);	}
}

#leer {
	position : absolute;
	bottom   : 10%;
	left     : 20px;
	
	color    : #ff0;
	font-size: 1.5em;
	
	display  : inline-block;
	padding  : 10px;
	border   : #ff0 solid 3px;
	border-radius: 10px;

	&:hover {
		-o-animation     : colorearFondo 1s forwards;
		-moz-animation   : colorearFondo 1s forwards;
		-webkit-animation: colorearFondo 1s forwards;
		animation        : colorearFondo 1s forwards;
	}
}
*/
#contenedor {
	/*padding   : 0;
	visibility: hidden;
	position  : relative;
	top       : 100%;
	background-color: #FFFFFF;

	.superior {
		width    : 100%;
		height   : 45px;
		color    : #FFFFFF;
		font-size: 1.2em;
		background-color: #000000;


		position: fixed;
		top     : 0px;
		z-index : 2;
				
		li {
			padding: 10px;
			float  : right;
			
			a { color: #FFFFFF; }

			&.imagenes {
				float: left;
				padding: 0.25ex;

				img { 
					float: left; 
					width: 40px; 
					margin-left: 10px;

					&.bandera {
						position: relative;
						top: 8px;
					}
				}
			}

			&.menu {
				cursor : pointer;
				border-radius: 5px;
				transition: .5s linear all;
				height: 100%;

				&:hover { background-color: $rojo_oscuro; }

				span { 
					float: right;
					margin-left: 10px;
				}
			}

		}		
		
		li:nth-of-type(3) { display: none; }
	}

	h1 {
		margin     : .5em 0 0;
		padding-top: 55px;
		font-size  : 1.5em;
		text-align : center;
	}*/

	section {
		/*padding: 1ex;

		a {	color: #000088; }*/
		
		&.contenido {

			.imagen_lateral {
				float: right;
				width: 50%;
				margin: 10px 20px;

				iframe { margin: 0 auto !important; }
			}

			.anuncio {
				position: relative;
				overflow: hidden;
				border-radius: 10pt;
				height: 250px;

				margin: 10px 20px;
		
				img { width: 100%; }
				
				p {
					padding: 1ex;
					display: inline-block;
					background: rgba(255,255,255,0.7);
					border-radius: 10pt;
					font: 1.1em/1.2 sans-serif;
					hyphens: auto;

					position: absolute;
					top: 5%;
					left: 10%;
					right: 10%;
					bottom: 5%;
					
					a {	color: #000088; }
				}
			}

			> p {
				padding: 1ex 2ex;
				font-size: 1em;
				line-height: 1.2em;
				text-align: justify;
				hyphens: auto;
			}

			.descripcion {
				list-style: none;
				line-height: 1.2em;
				padding: 1em;

				li {
					hyphens: auto;
					text-align: justify;
					margin: 0 0 1em;

					.retrato {
						width: 50px;
						border-radius: 25px;
						margin: 0 10px;
						float: left;
					}

					&:last-of-type { margin: 0; }
				}
			}
		}

		&.redes {
			position: relative;
			padding : 1ex;
			border  : 2px solid $rojo_oscuro;
			background-color: $rojo;
			margin: 0 0 .5em;
			clear: both;

			h2 {
				font: 1.2em/1.3em sans-serif;
				padding: .5ex;
				border-bottom: 2px solid #000000;
				margin: 0 auto 1em;
			}

			p {
				font: 1em/1.2 sans-serif;
				margin: 0 auto .5em;

			}

			.panel_redes {
				position: relative;
				margin: 0 auto;

				.rrss_tragona {
					padding-top: 2em;

					li {
						cursor : pointer;
						font   : 1em/1.2em sans-serif;
						padding: .6em .3em;
						margin-bottom: .6ex;
						border-radius: 10px;
						background-color: $rojo_claro;

						img { 
							width         : 40px; 
							border-radius : 40px;
							margin-right  : .3em;
							vertical-align: middle;
						}
					}
				}


				.red {
					margin: 1.5ex auto;
					width: calc(100% - 2ex);
					height: 400px;
					overflow: auto;
					border-radius: 5px;

					#frame_facebook {
						height: inherit;
						width: 100%;
					}
				}
			}
		}
	}

	/*.legal {
		clear: both;
		position: relative;
		text-align: center;
		top: 100%;

		padding: 1ex 0;
		border-top: 2px solid #ddd;
	
		img {
			background-color: #fff;
			border-radius: 14px;
			position: relative;
			top: 2px;
			width: 20px;
		}

		p { line-height: 1.3em; }
	}*/
}


	/* Ocultos desde la version movil */
#contenedor {
	.imagen_lateral,
	.anuncio { display: none; }
	/*.ipad,
	.desktop { display: none; }*/
}

@media screen and (min-device-width: 280px) {}


@media screen and (min-device-width: 480px) {

	#contenedor section.redes { 
		margin: 0 1em 1em;

		.panel_redes .red {	width: 340px;	}
	}
}


@media screen and (min-device-width: 576px) {

	/*header { 
		font-size: 2.5em; 

		img { transform: scale(1); } 
	}

	#menumovil { position: absolute; }

	#leer { left: 35%; }*/

	#contenedor {
		/*padding: 20px;

		.movil { display: none; }

		.ipad { display: block; }

		.superior {	position: static;	}

		h1 { 
			font-size: 2.5em; 
			margin-bottom: .5em;
			padding-top: 0;
		}*/

		section.contenido {

			.anuncio { display: block; }
			
			> p, ul {
				font-size: 1.2em;
				line-height: 1.2em;
			}

		}

		section.redes {

			h3 { font: 1.3em/1.3em sans-serif; }

			.panel_redes .red {
				left: 10%;
				right: 10%;
			}
		}

		/*.legal { 

			img { top: 9px; width: auto; }

			.ipad { display: inline; }			
		}*/
	}	
}

@media screen and (min-device-width: 768px) {

	/*header { font-size: 3em; }

	#leer {	font-size: 2em;	}*/

	#contenedor {

		section.contenido	.anuncio { 
			width: 80%; 
			margin: 10px auto;

			p { font: 1.2em/1.3 sans-serif; }
		}
	}
}

@media screen and (min-device-width: 992px) {

	/*#leer { left: 200px; }*/

	#contenedor {

		section.contenido	{

			.imagen_lateral { display: block; }

			.anuncio {
				height: 200px;
			}
		}

		section.redes {
			width: 80%;
			margin: 0 auto 1em;

			h2, p { width: 80% }
	
			.panel_redes {
				width: 725px;

				.red { 
					display: inline-block;
					margin: 1.5ex 10px; 
				}
			}
		}
	}
}

@media screen and (min-device-width: 1024px) {

	#contenedor {

		.menu { display: none; }
		/*.ipad { display: none; }

		.superior li:nth-of-type(3),
		.desktop { display: block; }*/
	}
	
}

/*
@media screen and (min-device-width: 1200px) {

	#leer { bottom: 20%; }
	
}
*/
@media screen and (min-device-width: 1200px) {

	#contenedor section.contenido .anuncio {
		width: unset;
		height: 250px;
	}
}

