@-webkit-keyframes colorearFondo {
  from {
    background-color: transparent;
    border: #ff0 solid 3px; }
  to {
    background-color: #6A0C7B;
    border: #6A0C7B 3px solid; } }
@keyframes colorearFondo {
  from {
    background-color: transparent;
    border: #ff0 solid 3px; }
  to {
    background-color: #6A0C7B;
    border: #6A0C7B 3px solid; } }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  height: 100%; }
  html body {
    height: inherit;
    width: 100%;
    background-color: #000000;
    font-family: verdana, helvetica, sans-serif;
    font-size: 14pt;
    background: url("../media/cabeceras/tragona_entrada.jpg") fixed center center;
    background-size: cover;
    overflow-x: hidden; }

#menumovil {
  position: fixed;
  top: 45px;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 14em;
  opacity: 0;
  z-index: 5;
  display: none; }
  #menumovil ul {
    margin: 1em;
    margin-left: 2em;
    line-height: 3ex;
    font-size: 1.3em; }

#menuidiomas {
  position: fixed;
  top: 45px;
  background-color: #000;
  color: #fff;
  width: 100%;
  height: 12em;
  opacity: 0;
  z-index: 5;
  display: none; }
  #menuidiomas ul {
    margin: 1em;
    margin-left: 2em;
    line-height: 3ex;
    font-size: 1.3em; }
    #menuidiomas ul span {
      position: relative;
      top: -0.25ex;
      margin-left: 1em; }

/* Cabecera */
header {
  font-size: 2em;
  color: #fff;
  text-shadow: #000 0px 0px 10px;
  text-align: center;
  line-height: 1.5em;
  position: absolute;
  top: 3ex;
  width: 100%; }
  header img {
    transform: scale(0.8); }

/* Leer */
#leer {
  position: absolute;
  bottom: 10%;
  left: 20px;
  color: #ff0;
  font-size: 1.5em;
  border: #ff0 solid 3px;
  border-radius: 10px;
  display: inline-block;
  padding: 10px; }
  #leer:hover {
    -webkit-animation: colorearFondo 1s forwards;
    animation: colorearFondo 1s forwards; }

#contenedor {
  background-color: #fff;
  position: relative;
  padding: 0;
  visibility: hidden;
  top: 100%; }
  #contenedor .superior, #contenedor #superior {
    background-color: #000000;
    color: #FFFFFF;
    font-size: 1.2em;
    height: 45px;
    z-index: 2;
    position: fixed;
    top: 0px;
    width: 100%; }
    #contenedor .superior li, #contenedor #superior li {
      padding: 10px;
      float: right; }
      #contenedor .superior li a, #contenedor #superior li a {
        color: #FFFFFF; }
      #contenedor .superior li img, #contenedor #superior li img {
        width: 40px; }
        #contenedor .superior li img.bandera, #contenedor #superior li img.bandera {
          float: left;
          margin-left: 5px;
          cursor: pointer; }
      #contenedor .superior li span, #contenedor #superior li span {
        float: left;
        margin-right: 10px; }
      #contenedor .superior li:first-child, #contenedor #superior li:first-child {
        float: left; }
      #contenedor .superior li#logo_superior, #contenedor #superior li#logo_superior {
        padding: 0.15ex;
        cursor: pointer; }
        #contenedor .superior li#logo_superior span, #contenedor #superior li#logo_superior span {
          position: relative;
          top: 9px; }
    #contenedor .superior li:nth-of-type(3), #contenedor #superior li:nth-of-type(3) {
      display: none; }
  #contenedor h1 {
    font-size: 1.5em;
    text-align: center;
    margin: .5em 0 0;
    padding-top: 55px; }
  #contenedor h2 {
    font-size: 1.5em;
    padding: 1ex;
    text-align: left;
    clear: both;
    border-bottom: 2px solid #000000;
    margin: 1em;
    margin-left: 0; }
    #contenedor h2.bebida {
      text-align: right;
      margin-right: 0;
      margin-left: 1em; }
  #contenedor section {
    padding: 1ex;
    		/* Cambiar por actual
    		&.compartir {
    			background-color: $verde;
    			padding: 1.6ex 0 1.2ex;
    
    			div {
    				width: 100%;
    				text-align: center;
    				padding: 1ex 0;
    
    				iframe {
    					transform: scale(1.5);
    					
    				}
    			}
    		}
    		*/ }
    #contenedor section a {
      color: #008; }
    #contenedor section.izquierda p {
      padding: 1ex 2ex;
      font-size: 1em;
      line-height: 1.2em;
      text-align: justify;
      word-break: break-word;
      hyphens: auto; }
    #contenedor section.izquierda #cartel_navidad,
    #contenedor section.izquierda .imagen_lateral {
      position: relative;
      overflow: hidden;
      border-radius: 10pt;
      float: right;
      width: 50%;
      margin: 10px 20px;
      /*display: none;*/
      /*
      img.planta {
      	-webkit-border-radius: 50%;
      	   -moz-border-radius: 50%;
      	        border-radius: 50%;
      	width: 100%;
      }
      */ }
      #contenedor section.izquierda #cartel_navidad img,
      #contenedor section.izquierda .imagen_lateral img {
        width: 100%;
        /*margin-left: -50%;*/ }
      #contenedor section.izquierda #cartel_navidad p,
      #contenedor section.izquierda .imagen_lateral p {
        background: rgba(255, 255, 255, 0.7);
        display: inline-block;
        border-radius: 10pt;
        position: absolute;
        top: 5%;
        left: 10%;
        right: 10%;
        bottom: 5%; }
        #contenedor section.izquierda #cartel_navidad p a,
        #contenedor section.izquierda .imagen_lateral p a {
          color: #008; }
    #contenedor section.pasarelas article {
      float: left;
      width: 50%;
      padding: 0 1ex;
      height: 600px; }
      #contenedor section.pasarelas article > div {
        width: 100%;
        height: 100%;
        height: 400px !important; }
      #contenedor section.pasarelas article:last-of-type .marco_bebida {
        overflow: hidden;
        position: relative; }
        #contenedor section.pasarelas article:last-of-type .marco_bebida > div {
          /*vertical-align: middle;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;*/
          overflow: hidden;
          height: inherit;
          width: 25%;
          height: 100%;
          display: inline-block;
          background-position: 45% 60%;
          background-repeat: no-repeat;
          /*img { 
          	display: block;
          	position: relative;
          	top: -30%;
          	left: -25%; 
          	z-index: 1;
          }*/
          					/*&:nth-of-type(2) {
          						left: 25%;
          						z-index: 2;
          					}
          
          					&:nth-of-type(3) {
          						left: 50%;
          						z-index: 3;
          					}
          
          					&:nth-of-type(4) {
          						left: 75%;
          						z-index: 4;
          					}*/ }
          #contenedor section.pasarelas article:last-of-type .marco_bebida > div:hover p {
            height: 2em; }
          #contenedor section.pasarelas article:last-of-type .marco_bebida > div p {
            font-size: 1.3em;
            position: absolute;
            bottom: 0em;
            left: 0;
            /*z-index: 10;*/
            background-color: #000;
            color: #fff;
            width: 100%;
            height: 0;
            line-height: 2em;
            z-index: 10;
            padding-left: 1em;
            transition: 1s linear all; }
    #contenedor section.compartir div {
      display: block;
      width: 100%;
      text-align: center;
      margin-bottom: 1ex; }
    #contenedor section.rrss {
      font-size: 1.2em;
      clear: both; }
      #contenedor section.rrss li {
        padding: .5ex 0;
        float: left;
        margin-left: 2ex;
        margin-bottom: 1ex; }
        #contenedor section.rrss li:first-of-type {
          float: unset;
          margin: 0; }
        #contenedor section.rrss li a {
          display: block;
          border-radius: 5px;
          transition: .5s all linear;
          padding: .4ex .6ex 0; }
          #contenedor section.rrss li a img {
            width: 50px;
            margin: 0 5px;
            border-radius: 50%; }
          #contenedor section.rrss li a span {
            position: relative;
            top: -18px; }
          #contenedor section.rrss li a:hover {
            background-color: #D9D8FF; }
  #contenedor .legal {
    clear: both;
    position: relative;
    text-align: center;
    top: 100%;
    padding-top: 1ex;
    border-top: 2px solid #ddd; }
    #contenedor .legal img {
      background-color: #fff;
      border-radius: 14px;
      position: relative;
      top: 2px;
      width: 20px; }
    #contenedor .legal p {
      line-height: 1.3em; }

/* Cartel_evento 
	#cartel_evento {
		border: 11px double #ccc;
		-webkit-border-radius: 50pt;
		   -moz-border-radius: 50pt;
		        border-radius: 50pt;
		padding: 3ex 0;
	}

	#cartel_evento a { color: inherit; }

	#cartel_evento p {
		text-align: center;
		padding: 0 1ex 1ex;
		font-size: 1.7em;
		font-weight: bold;
		line-height: 1.2em;
	}

	#cartel_evento p:first-of-type {
		font-size: 2em;
		font-weight: bold;
		color: #f00;	
	}

	#cartel_evento img {
		width: 50%;
		display: block;
		margin: 0 auto;
	}

	#cartel_evento .escalera span {
		display: block;
	}

	#cartel_evento .escalera span:first-of-type {
		text-align: left;
		color: #60f;
	}

	#cartel_evento .escalera span:nth-of-type(2) {
		color: #587B58;
	}

	#cartel_evento .escalera span:last-of-type {
		text-align: right;
		padding-right: 4ex;
		color: #2EFE2E;
	}
*/
/* Ocultos desde la version movil */
#contenedor .imagen_lateral,
#contenedor .ipad,
#contenedor .desktop {
  display: none; }

@media screen and (min-device-width: 576px) {
  header {
    font-size: 2.5em; }
    header img {
      transform: scale(1); }

  #menumovil {
    position: absolute; }

  #leer {
    left: 35%; }

  #contenedor {
    padding: 20px; }
    #contenedor .superior {
      position: static; }
      #contenedor .superior #logo_superior img {
        margin-right: 30px; }
    #contenedor .movil {
      display: none; }
    #contenedor .imagen_lateral,
    #contenedor .ipad {
      display: block; }
    #contenedor h1 {
      font-size: 2.5em;
      margin-bottom: .5em;
      padding-top: 0; }
    #contenedor section.izquierda > p {
      font-size: 1.2em;
      line-height: 1.2em; }
    #contenedor section.izquierda .imagen_lateral img {
      height: 400px; }
    #contenedor section.izquierda .imagen_lateral p {
      font-size: 1.1em; }
    #contenedor .legal {
      /*height: 55px; */ }
      #contenedor .legal img {
        top: 9px;
        width: auto; }
      #contenedor .legal .ipad {
        display: inline; } }
@media screen and (min-device-width: 768px) {
  header {
    font-size: 3em; }

  #leer {
    font-size: 2em; }

  #contenedor section.izquierda > p {
    font-size: 1.4em; }
  #contenedor section.izquierda .imagen_lateral {
    font-size: 1.2em; } }
@media screen and (min-device-width: 992px) {
  #leer {
    left: 200px; }

  #contenedor section.izquierda .imagen_lateral {
    height: 400px; } }
@media screen and (min-device-width: 1024px) {
  #contenedor #logo_superior,
  #contenedor .ipad {
    display: none; }
  #contenedor .desktop {
    display: block; }
  #contenedor section.izquierda .imagen_lateral p {
    padding: 1em;
    line-height: 1.5em; } }
@media screen and (min-device-width: 1200px) {
  #leer {
    bottom: 20%; }

  #contenedor .superior li:nth-of-type(3) {
    display: block; }
  #contenedor section.izquierda .imagen_lateral {
    margin: 20px 0 20px 20px;
    height: unset; }
    #contenedor section.izquierda .imagen_lateral p {
      padding: 1.5em 2em; } }
@media screen and (max-width: 300px), screen and (max-device-width: 300px) {
  /* rotulo Menu junto a logo*/
  #logo_superior span {
    display: none; } }

/*# sourceMappingURL=quienessomos.css.map */
